@model CameraShop.ViewModels.ProductListViewModel

@using CameraShop.HelperCode

@using PagedList;
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />



@{
    int countProduct = 0;
}


<!-- Shop Page Start -->
<div class="main-shop-page ptb-80">
    <div class="container">
        <!-- Row End -->
        <div class="row">
            <!-- Sidebar Shopping Option Start -->
            <div class="col-lg-3 order-2 order-lg-1 mt-all-30">
                <div class="sidebar shop-sidebar">
                    <!-- Price Filter Options Start -->
                    <!-- Price Filter Options End -->
                    <!-- Sidebar Categorie Start -->
                    <div class="sidebar-categorie mb-30">
                        <h3 class="sidebar-title">Danh mục</h3>
                        <ul class="sidbar-style">
                            <li class="form-check">
                                @Html.ActionLink("Tất cả sản phẩm", "Index", null, new { @class = Request["Category"] == null ? "text-danger" : null, })

                            </li>

                            @if (Model.Categories != null)
                            {

                                foreach (var item in Model.Categories)
                                {
                                    <li class="form-check">
                                        @Html.ActionLink(item.CategoryName, "Index", new { Category = item.CategoryName }, new { @class = Request["Category"] == item.CategoryName ? "text-danger" : null })

                                    </li>
                                }
                            }
                        </ul>
                    </div>

                </div>
            </div>
            <!-- Sidebar Shopping Option End -->
            <!-- Product Categorie List Start -->
            <div class="col-lg-9 order-1 order-lg-2">
                <!-- Grid & List View Start -->
                <div class="grid-list-top border-default universal-padding d-md-flex justify-content-md-between align-items-center mb-30">
                    <div class="grid-list-view d-flex align-items-center  mb-sm-15">
                        @if (ViewBag.Category != null)
                        {
                            <p class="h4">@ViewBag.Category</p>
                        }
                        else
                        {
                            <p class="h4">TẤT CẢ SẢN PHẨM</p>
                        }

                    </div>
                    <!-- Toolbar Short Area Start -->
                    <div class="main-toolbar-sorter clearfix">
                        @if (ViewBag.SortOrder == "price_desc")
                        {
                            <h6 class="text-danger">Lọc theo giá giảm dần</h6>
                        }
                        else if (ViewBag.SortOrder == "price_asc")
                        {
                            <h6 class="text-danger">Lọc theo giá tăng dần</h6>
                        }

                        <div id="getSort" class="toolbar-sorter d-md-flex align-items-center">
                            <label for="getSelect">Sort By:</label>
                            <select id="getSelect"  class="sorter wide" onchange="window.open(this.value,'_self');">
                                    <option value="">Choose Option</option>
                                    <option value="@Url.Action("Index","Category", new { Category = ViewBag.Category, sortOrder = "price_desc" })">Sắp xếp theo giá giảm dần</option>
                                    <option value="@Url.Action("Index","Category", new { Category = ViewBag.Category, sortOrder = "price_asc", })">Sắp xếp theo giá tăng dần</option>

                                </select>
                            @*<select class="sort wide" id="getSort" onchange="getval(this);">
                                <option>Lọc sản phẩm</option>
                                <option id="price_desc" value="price_desc">Giá giảm dần</option>
                                <option id="price_asc" value="price_asc">Giá tăng dần</option>
                            </select>*@
                        </div>


                    </div>
                    @*<div>
                            <h4>@Html.ActionLink("Lọc theo giá cao -> thấp", "Index", new { Category = ViewBag.Category, sortOrder = "price_desc", })</h4>
                            <h4>@Html.ActionLink("Lọc theo giá thấp -> cao", "Index", new { Category = ViewBag.Category, sortOrder = "price_asc", })</h4>
                        </div>*@
                    <!-- Toolbar Short Area End -->
                </div>
                <!-- Grid & List View End -->
                <div class="shop-area mb-all-40">
                    <!-- Grid & List Main Area End -->
                    <div class="tab-content">
                        <div id="grid-view" class="tab-pane fade show active">
                            <div class="row border-hover-effect ">
                                @if (Model.Products != null)
                                {

                                    foreach (var item in Model.Products)
                                    {

                                        <div class="col-lg-4 col-md-4 col-sm-6 col-6">
                                            <!-- Single Product Start -->

                                            <div class="single-ponno-product">
                                                <!-- Product Image Start -->
                                                <div class="pro-img">

                                                    @{

                                                        int count = 0;
                                                        foreach (var img in item.FileImgs)
                                                        {
                                                            count++;
                                                            if (count == 1)
                                                            {
                                                                <a href="@Url.Action("Details","Home",new { id = item.ProductID})">
                                                                    @Html.ImageSlick(img.file_base6)
                                                                </a>

                                                            }
                                                        }
                                                    }
                                                    <a class="sticker-new " href="wishlist.html">
                                                        <span class="ti-heart"></span>
                                                    </a>
                                                    <span class="sticker-sale">new</span>
                                                </div>
                                                <!-- Product Image End -->
                                                <!-- Product Content Start -->
                                                <div class="pro-content">
                                                    <div class="pro-info">
                                                        <h4>
                                                            <a href="@Url.Action("Details","Home",new { id = item.ProductID })">@Html.DisplayFor(modelItem => item.ProductName)</a>
                                                        </h4>
                                                        <p>
                                                            <span class="special-price text-danger">@Html.DisplayFor(modelItem => item.DiscountedPrice)</span>
                                                        </p>
                                                        <div class="product-rating">
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <span class="quantity-pro">(200+)</span>
                                                        </div>
                                                    </div>
                                                    <div class="pro-add-cart">
                                                        <a href="cart.html" title="Add to Cart">Add To Cart</a>
                                                    </div>
                                                </div>
                                                <!-- Product Content End -->
                                            </div>
                                            <!-- Single Product End -->
                                        </div>
                                        countProduct++;
                                    }
                                }

                            </div>
                            <!-- Row End -->
                        </div>

                    </div>
                    <!-- Grid & List Main Area End -->
                </div>
                <div>
                    Page @(Model.Products.PageCount < Model.Products.PageNumber ? 0 : Model.Products.PageNumber) of @Model.Products.PageCount

                    @Html.PagedListPager((IPagedList)ViewBag.Prod, Productpage => Url.Action("Index", new { sortOrder = Request["sortOrder"], Category = Request["Category"], Productpage }))

                </div>
                <!-- Shop Breadcrumb Area Start -->
                <div class="shop-breadcrumb-area border-default">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-5">
                            <span class="show-items">Showing 1-12 of @countProduct item(s) </span>
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-7">
                            <ul class="pfolio-breadcrumb-list text-center">
                                <li class="float-left prev">
                                    <a href="#">
                                        <i class="fa fa-angle-left" aria-hidden="true"></i>Previous
                                    </a>
                                </li>
                                <li class="active">
                                    <a href="#">1</a>
                                </li>
                                <li>
                                    <a href="#">2</a>
                                </li>
                                <li class="float-right next">
                                    <a href="#">
                                        Next
                                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Shop Breadcrumb Area End -->
            </div>
            <!-- product Categorie List End -->
        </div>
        <!-- Row End -->
    </div>
    <!-- Container End -->
</div>
<!-- Shop Page End -->
<!-- Footer Area Start Here -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script type="text/javascript">
    @*function NavigatePage() {
    var selectedValue = document.getElementById('getSort').value;
    if(selectedValue == "pricedesc")
        document.location = '@Url.Action("Index", "Categoryw")';
    else if(selectedValue == "priceasc")
        document.location = '@Url.Action("Index", "Categoryw")';
    else
        document.location= '@Url.Action("Index2", "Categoryw")';// add as needed
}*@
    function getval(sel) {
        //alert(sel.value);
        var selectBox = document.getElementById("getSort");
        if (sel.value == "price_desc") {
            document.location = '@Url.Action("Index", "Category", new { Category = ViewBag.Category, sortOrder = "price_desc" })'
           


        }
        else if (sel.value == "price_asc") {
            document.location = '@Url.Action("Index", "Category", new { Category = ViewBag.Category, sortOrder = "price_asc" })'
            
        }

    }

</script>

