@model CameraShop.ViewModels.ProductListViewModel

@using CameraShop.HelperCode

@using PagedList;
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Danh mục sản phẩm" + " - " + ViewBag.Category + " ";
}

@{
    int countProduct = 0;
}
@*Breadcrumb Area Start Here*@
<div class="breadcrumb-area">
    <div class="container">
        <ol class="breadcrumb breadcrumb-list">

            @if (ViewContext.RouteData.Values["controller"].ToString() != "Cart1")
            {
                <li class="breadcrumb-item">
                    @Html.ActionLink(ViewContext.RouteData.Values["controller"].ToString(), "Cart", ViewContext.RouteData.Values["controller"].ToString())
                </li>

            }
            @if (ViewContext.RouteData.Values["action"].ToString() != "Cart")
            {
                <li class="breadcrumb-item">
                    @Html.ActionLink(ViewContext.RouteData.Values["action"].ToString(), ViewContext.RouteData.Values["action"].ToString(), ViewContext.RouteData.Values["controller"].ToString())
                </li>
            }



        </ol>
    </div>
</div>
<!-- Shop Page Start -->
<div class="main-shop-page ptb-80">
    <div class="container">
        <!-- Row End -->
        <div class="row">
            <!-- Sidebar Shopping Option Start -->
            <div class="col-lg-3 order-2 order-lg-1 mt-all-30">
                <div class="sidebar shop-sidebar">
                    <!-- Price Filter Options Start -->
                    <!-- Price Filter Options End -->
                    <!-- Sidebar Categorie Start -->
                    <div class="sidebar-categorie mb-30">
                        <h3 class="sidebar-title">Danh mục</h3>
                        <ul class="sidbar-style">
                            <li class="form-check">
                                @Html.ActionLink("Tất cả sản phẩm", "Index", null, new { @class = Request["Category"] == null ? "text-danger" : null, })

                            </li>
                            @if (Model.Categories != null)
                            {
                                foreach (var item in Model.Categories)
                                {
                                    <li class="form-check">
                                        @Html.ActionLink(item.CategoryName, "Index", new { Category = item.CategoryName }, new { @class = Request["Category"] == item.CategoryName ? "text-danger" : null })

                                    </li>
                                }
                            }
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Sidebar Shopping Option End -->
            <!-- Product Categorie List Start -->
            <div class="col-lg-9 order-1 order-lg-2">
                <!-- Grid & List View Start -->
                <div class="grid-list-top border-default universal-padding d-md-flex justify-content-md-between align-items-center mb-30">
                    <div class="grid-list-view d-flex align-items-center  mb-sm-15">
                        <div class="nav tabs-area d-flex align-items-center">
                            @if (ViewBag.Category != null)
                            {
                                <p class="h4">@ViewBag.Category</p>
                            }
                            else
                            {
                                <p class="h4">Tất cả sản phẩm</p>
                            }
                        </div>
                    </div>
                    <!-- Toolbar Short Area Start -->
                    <div class="main-toolbar-sorter clearfix">
                        @if (ViewBag.SortOrder == "price_desc")
                        {
                            <h6 class="text-danger">Lọc theo giá giảm dần</h6>
                        }
                        else if (ViewBag.SortOrder == "price_asc")
                        {
                            <h6 class="text-danger">Lọc theo giá tăng dần</h6>
                        }

                        <div id="getSort" class="toolbar-sorter d-md-flex align-items-center">
                            <label class="clearfix" for="getSelect">Sắp xếp:</label>
                            <select  class="sorter wide" onchange="window.open(this.value,'_self');">
                                <option value="">Choose Option</option>
                                <option value="@Url.Action("Index","Category", new { Category = ViewBag.Category, sortOrder = "price_desc" })">Sắp xếp theo giá giảm dần</option>
                                <option value="@Url.Action("Index","Category", new { Category = ViewBag.Category, sortOrder = "price_asc", })">Sắp xếp theo giá tăng dần</option>
                            </select>
                            @*<select class="sort wide" id="getSort" onchange="getval(this);">
                                    <option>Lọc sản phẩm</option>
                                    <option id="price_desc" value="price_desc">Giá giảm dần</option>
                                    <option id="price_asc" value="price_asc">Giá tăng dần</option>
                                </select>*@
                        </div>
                    </div>
                    <!-- Toolbar Short Area End -->
                </div>
                <!-- Grid & List View End -->
                <div class="shop-area mb-all-40">
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-scrollable" role="document">
                            <div class="modal-body">
                                <div class="alert alert-success" role="alert">
                                    <p class="text-center"><b>Thêm vào giỏ hàng thành công!</b></p>
                                    <div class="modal-content"><button type="button" onclick="document.location.href='@Url.Action("Cart","Cart")'" class="btn btn-success ">Tiến hành thanh toán</button></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Grid & List Main Area End -->
                    <div class="tab-content">
                        <div id="grid-view" class="tab-pane fade show active">
                            <div class="row border-hover-effect ">
                                @if (Model.Products != null)
                                {
                                    foreach (var item in Model.Products)
                                    {
                                        <div class="col-lg-4 col-md-4 col-sm-6 col-6">
                                            <!-- Single Product Start -->
                                            <div class="single-ponno-product">
                                                <!-- Product Image Start -->
                                                <div class="pro-img">
                                                    @{
                                                        int count = 0;
                                                        foreach (var img in item.FileImgs)
                                                        {
                                                            count++;
                                                            if (count == 1)
                                                            {
                                                                <a href="@Url.Action("Details","Home",new { alias = item.Alias})">
                                                                    @Html.ImageSlick(img.file_base6)
                                                                </a>
                                                            }
                                                        }
                                                    }
                                                    <a class="sticker-new " href="@Url.Action("Details","Home",new { alias = item.Alias})">
                                                        <span class="ti-heart"></span>
                                                    </a>
                                                    <span class="sticker-sale">new</span>
                                                </div>
                                                <!-- Product Image End -->
                                                <!-- Product Content Start -->
                                                <div class="pro-content">
                                                    <div class="pro-info">
                                                        <h4>
                                                            <a href="@Url.Action("Details","Home",new { alias = item.Alias })">@Html.DisplayFor(modelItem => item.ProductName)</a>
                                                        </h4>
                                                        <p>
                                                            <span class="special-price text-danger">
                                                                @if (item.DiscountedPrice > 10000)
                                                                {
                                                                    @Html.DisplayFor(modelItem => item.DiscountedPrice)
                                                                }
                                                                else
                                                                {
                                                                    @Html.DisplayName("Liên hệ");
                                                                }
                                                            </span>
                                                        </p>
                                                        <div class="product-rating">
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <span class="quantity-pro">(200+)</span>
                                                        </div>
                                                    </div>
                                                    <div class="pro-add-cart">
                                                        @if (item.DiscountedPrice > 10000)
                                                        {
                                                            <button type="submit" data-toggle="modal" data-target="#exampleModal" onclick="AddToCart(this);" itemid="@item.ProductID" class="pro-cart">Thêm vào giỏ</button>
                                                        }
                                                    </div>
                                                </div>
                                                <!-- Product Content End -->
                                            </div>
                                            <!-- Single Product End -->
                                        </div>
                                        countProduct++;
                                    }
                                }
                            </div>
                            <!-- Row End -->
                        </div>

                    </div>
                    <!-- Grid & List Main Area End -->
                </div>
                <div>
                    Page @(Model.Products.PageCount < Model.Products.PageNumber ? 0 : Model.Products.PageNumber) of @Model.Products.PageCount

                    @Html.PagedListPager((IPagedList)ViewBag.Prod, Productpage => Url.Action("Index", new { sortOrder = Request["sortOrder"], Category = Request["Category"], Productpage }))
                </div>

            </div>
            <!-- product Categorie List End -->
        </div>
        <!-- Row End -->
    </div>
    <!-- Container End -->
</div>
<!-- Shop Page End -->

<!--Shop Clone Page End-->
<!-- Footer Area Start Here -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script type="text/javascript">

    function getval(sel) {
        //alert(sel.value);
        var selectBox = document.getElementById("getSort");
        if (sel.value == "price_desc") {
            document.location = '@Url.Action("Index", "Category", new { Category = ViewBag.Category, sortOrder = "price_desc" })'
        }
        else if (sel.value == "price_asc") {
            document.location = '@Url.Action("Index", "Category", new { Category = ViewBag.Category, sortOrder = "price_asc" })'
        }
    }

    function AddToCart(item) {
        var itemid = $(item).attr("itemid");
        //alert(itemid);
        var formData = new FormData();
        formData.append("ProductID", itemid);
        $.ajax({
            async: false,
            type: "POST",
            contentType: false,
            processData: false,
            data: formData,
            url: '/Home/AddToCart',
            success: function (data) {
                if (data.success) {
                    //alert("Đã thêm vào giỏ hàng")
                    $("#exampleModal").show();
                    $("#cartItem").text("" + data.Counter + " sản phẩm ");

                    //$("dropdown cart-box-width active").show();
                }
            },
            error: function () {
                alert("There is some problem");
            }
        })
    }
</script>

