@model CameraShop.ViewModels.ProductListViewModel

@using CameraShop.HelperCode

@*<!DOCTYPE html>

    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Index</title>
    </head>
    <body>
        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CategoryName)
                </th>
                <th></th>
            </tr>

        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryName)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id=item.CategoryID }) |
                    @Html.ActionLink("Details", "Details", new { id=item.CategoryID }) |
                    @Html.ActionLink("Delete", "Delete", new { id=item.CategoryID })
                </td>
            </tr>
        }

        </table>
    </body>
    </html>*@


<div class="breadcrumb-area">
    <div class="container">
        <ol class="breadcrumb breadcrumb-list">
            @if (ViewContext.RouteData.Values["controller"].ToString() != "Category")
            {
                <li class="breadcrumb-item">
                    @Html.ActionLink(ViewContext.RouteData.Values["controller"].ToString(), "Index", ViewContext.RouteData.Values["controller"].ToString())
                </li>

            }
            @if (ViewContext.RouteData.Values["action"].ToString() != "Index")
            {
                <li class="breadcrumb-item">
                    @Html.ActionLink(ViewContext.RouteData.Values["action"].ToString(), ViewContext.RouteData.Values["action"].ToString(), ViewContext.RouteData.Values["controller"].ToString())
                </li>
            }

           

        </ol>
        </ol>
    </div>
</div>
<!-- Breadcrumb Area End Here -->
<!-- Shop Page Start -->
<div class="main-shop-page ptb-80">
    <div class="container">
        <!-- Row End -->
        <div class="row">
            <!-- Sidebar Shopping Option Start -->
            <div class="col-lg-3 order-2 order-lg-1 mt-all-30">
                <div class="sidebar shop-sidebar">
                    <!-- Price Filter Options Start -->
                    <div class="search-filter mb-100">
                        <h3 class="sidebar-title">filter by price</h3>
                        <form action="#" class="slider-sidebar">
                            <div id="slider-range"></div>
                            <input type="text" id="amount" class="amount-range" readonly="">
                        </form>
                    </div>
                    <!-- Price Filter Options End -->
                    <!-- Sidebar Categorie Start -->
                    <div class="sidebar-categorie mb-30">
                        <h3 class="sidebar-title">Danh mục</h3>
                        <ul class="sidbar-style">
                            <li class="form-check">
                                @Html.ActionLink("Tất cả sản phẩm", "Index", null, new { @class = Request["Category"] == null ? "text-danger" : null })
                            </li>
                            
                            @if (Model.Categories != null)
                            {
                                
                                foreach (var item in Model.Categories)
                                {
                                    <li class="form-check">
                                        @Html.ActionLink(item.CategoryName, "Index", new { Category = item.CategoryName }, new { @class = Request["Category"] == item.CategoryName ? "text-danger" : null})
                                    </li>

                                }
                            }




                        </ul>
                    </div>
                    <!-- Sidebar Categorie Start -->
                    <!-- Product Size Start -->
                    <div class="size mb-30">
                        <h3 class="sidebar-title">size</h3>
                        <ul class="size-list sidbar-style">
                            <li class="form-check">
                                <input class="form-check-input" value="" id="small" type="checkbox">
                                <label class="form-check-label" for="small">S (6)</label>
                            </li>
                            <li class="form-check">
                                <input class="form-check-input" value="" id="medium" type="checkbox">
                                <label class="form-check-label" for="medium">M (9)</label>
                            </li>
                            <li class="form-check">
                                <input class="form-check-input" value="" id="large" type="checkbox">
                                <label class="form-check-label" for="large">L (8)</label>
                            </li>
                        </ul>
                    </div>
                    <!-- Product Size End -->
                    <!-- Product Color Start -->
                    <div class="color mb-30">
                        <h3 class="sidebar-title">color</h3>
                        <ul class="color-option sidbar-style">
                            <li>
                                <span class="white"></span>
                                <a href="#">white (4)</a>
                            </li>
                            <li>
                                <span class="orange"></span>
                                <a href="#">Orange (2)</a>
                            </li>
                            <li>
                                <span class="blue"></span>
                                <a href="#">Blue (6)</a>
                            </li>
                            <li>
                                <span class="yellow"></span>
                                <a href="#">Yellow (8)</a>
                            </li>
                        </ul>
                    </div>
                    <!-- Product Color End -->
                  
                    <!-- Sidebar Categorie Start -->
                  
                    <!-- Sidebar Categorie Start -->
                    <div class="sidebar-categorie">
                        <h3 class="sidebar-title">Properties</h3>
                        <ul class="sidbar-style">
                            <li class="form-check">
                                <input class="form-check-input" value="#" type="checkbox">
                                <label class="form-check-label">colorful dress (2)</label>
                            </li>
                            <li class="form-check">
                                <input class="form-check-input" value="#" type="checkbox">
                                <label class="form-check-label">maxi dress (2)</label>
                            </li>
                            <li class="form-check">
                                <input class="form-check-input" value="#" type="checkbox">
                                <label class="form-check-label">midi dress (2)</label>
                            </li>
                            <li class="form-check">
                                <input class="form-check-input" value="#" type="checkbox">
                                <label class="form-check-label">short dress (4) </label>
                            </li>
                            <li class="form-check">
                                <input class="form-check-input" value="#" type="checkbox">
                                <label class="form-check-label">short sleve (3) </label>
                            </li>
                        </ul>
                    </div>
                    <!-- Sidebar Categorie Start -->
                </div>
            </div>
            <!-- Sidebar Shopping Option End -->
            <!-- Product Categorie List Start -->
            <div class="col-lg-9 order-1 order-lg-2">
                <!-- Grid & List View Start -->
                <div class="grid-list-top border-default universal-padding d-md-flex justify-content-md-between align-items-center mb-30">
                    <div class="grid-list-view d-flex align-items-center  mb-sm-15">
                       
                        <span class="show-items"> </span>
                    </div>
                    <!-- Toolbar Short Area Start -->
                    <div class="main-toolbar-sorter clearfix">
                        <div class="toolbar-sorter d-md-flex align-items-center">
                            <label>Sort By:</label>
                            <select class="sorter wide">
                                <option value="Position">Relevance</option>
                                <option value="Product Name">Neme, A to Z</option>
                                <option value="Product Name">Neme, Z to A</option>
                                <option value="Price">Price low to heigh</option>
                                <option value="Price">Price heigh to low</option>
                            </select>
                        </div>
                    </div>
                    <!-- Toolbar Short Area End -->
                </div>
                <!-- Grid & List View End -->
                <div class="shop-area mb-all-40">
                    <!-- Grid & List Main Area End -->
                    <div class="tab-content">
                        <div id="grid-view" class="tab-pane fade show active">
                            <div class="row border-hover-effect ">
                                @if (Model.Products != null)
                                {
                                    foreach (var item in Model.Products)
                                    {
                                        <div class="col-lg-4 col-md-4 col-sm-6 col-6">
                                            <!-- Single Product Start -->

                                            <div class="single-ponno-product">
                                                <!-- Product Image Start -->
                                                <div class="pro-img">

                                                    @{

                                                        int count = 0;
                                                        foreach (var img in item.FileImgs)
                                                        {
                                                            count++;
                                                            if (count == 1)
                                                            {
                                                                <a href="@Url.Action("Details","Home",new { id = item.ProductID})">
                                                                    @Html.ImageSlick(img.file_base6)
                                                                </a>

                                                            }
                                                        }
                                                    }
                                                    <a class="sticker-new " href="wishlist.html">
                                                        <span class="ti-heart"></span>
                                                    </a>
                                                    <span class="sticker-sale">new</span>
                                                </div>
                                                <!-- Product Image End -->
                                                <!-- Product Content Start -->
                                                <div class="pro-content">
                                                    <div class="pro-info">
                                                        <h4>
                                                            <a href="product-details.html">@Html.DisplayFor(modelItem => item.ProductName)</a>
                                                        </h4>
                                                        <p>
                                                            <span class="special-price text-danger">@Html.DisplayFor(modelItem => item.DiscountedPrice)</span>
                                                        </p>
                                                        <div class="product-rating">
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <span class="quantity-pro">(200+)</span>
                                                        </div>
                                                    </div>
                                                    <div class="pro-add-cart">
                                                        <a href="cart.html" title="Add to Cart">Add To Cart</a>
                                                    </div>
                                                </div>
                                                <!-- Product Content End -->
                                            </div>
                                            <!-- Single Product End -->
                                        </div>
                                    }
                                }

                            </div>
                            <!-- Row End -->
                        </div>
                        <!-- #grid view End -->
                        <div id="list-view" class="tab-pane fade fix">
                            <!-- Single Product Start -->
                            <div class="single-ponno-product">
                                <!-- Product Image Start -->
                                <div class="pro-img">
                                    <a href="product-details.html">
                                        <img class="primary-img" src="img\products\p2.jpeg" alt="single-product">
                                    </a>
                                </div>
                                <!-- Product Image End -->
                                <!-- Product Content Start -->
                                <div class="pro-content">
                                    <div class="pro-info">
                                        <h4>
                                            <a href="product-details.html">jenon Real Box</a>
                                        </h4>
                                        <p>
                                            <span class="special-price">$70.00</span>
                                        </p>
                                        <div class="product-rating">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star-o"></i>
                                            <i class="fa fa-star-o"></i>
                                            <span class="quantity-pro">(200+)</span>
                                        </div>
                                        <p>
                                            Phone is a revolutionary new mobile phone that allows you to make a call
                                            by simply tapping a name or number in your address book, a favorites
                                            list, or a call log. It also automatically syncs all your..
                                        </p>
                                        <p>
                                            <div class="pro-actions">
                                                <div class="pro-add-cart">
                                                    <a href="cart.html" title="Add to Cart">Add To Cart</a>
                                                </div>
                                                <div class="pro-actions-link">
                                                    <a href="compare.html" title="Compare">
                                                        <span class="icon icon-MusicMixer"></span>
                                                    </a>
                                                    <a href="#" data-toggle="modal" data-target="#myModal" title="Quick View">
                                                        <span class="icon icon-Eye"></span>
                                                    </a>
                                                </div>
                                            </div>
                                    </div>
                                </div>
                                <!-- Product Content End -->
                            </div>
                            <!-- Single Product End -->
                            <!-- Single Product Start -->
                            <div class="single-ponno-product">
                                <!-- Product Image Start -->
                                <div class="pro-img">
                                    <a href="product-details.html">
                                        <img class="primary-img" src="img\products\p3.jpeg" alt="single-product">
                                    </a>
                                </div>
                                <!-- Product Image End -->
                                <!-- Product Content Start -->
                                <div class="pro-content">
                                    <div class="pro-info">
                                        <h4>
                                            <a href="product-details.html">xer jenon dslr</a>
                                        </h4>
                                        <p>
                                            <span class="special-price">$140.00</span>
                                        </p>
                                        <div class="product-rating">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star-o"></i>
                                            <i class="fa fa-star-o"></i>
                                            <span class="quantity-pro">(200+)</span>
                                        </div>
                                        <p>Latest Intel mobile architecture Powered by the most advanced mobile processors from Intel, the new Core 2 Duo MacBook Pro is over 50% faster than the original Core Duo MacBook Pro and now sup..</p>
                                        <p>
                                            <div class="pro-actions">
                                                <div class="pro-add-cart">
                                                    <a href="cart.html" title="Add to Cart">Add To Cart</a>
                                                </div>
                                                <div class="pro-actions-link">
                                                    <a href="compare.html" title="Compare">
                                                        <span class="icon icon-MusicMixer"></span>
                                                    </a>
                                                    <a href="#" data-toggle="modal" data-target="#myModal" title="Quick View">
                                                        <span class="icon icon-Eye"></span>
                                                    </a>
                                                </div>
                                            </div>
                                    </div>
                                </div>
                                <!-- Product Content End -->
                            </div>
                            <!-- Single Product End -->
                            <!-- Single Product Start -->
                            <div class="single-ponno-product">
                                <!-- Product Image Start -->
                                <div class="pro-img">
                                    <a href="product-details.html">
                                        <img class="primary-img" src="img\products\p7.jpeg" alt="single-product">
                                    </a>
                                </div>
                                <!-- Product Image End -->
                                <!-- Product Content Start -->
                                <div class="pro-content">
                                    <div class="pro-info">
                                        <h4>
                                            <a href="product-details.html">jibon mouse pad</a>
                                        </h4>
                                        <p>
                                            <span class="special-price">$110.00</span>
                                        </p>
                                        <div class="product-rating">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star-o"></i>
                                            <span class="quantity-pro">(100+)</span>
                                        </div>
                                        <p>More room to move. With 80GB or 160GB of storage and up to 40 hours of battery life, the new iPod classic lets you enjoy up to 40,000 songs or up to 200 hours of video or any combination where..</p>
                                        <p>
                                            <div class="pro-actions">
                                                <div class="pro-add-cart">
                                                    <a href="cart.html" title="Add to Cart">Add To Cart</a>
                                                </div>
                                                <div class="pro-actions-link">
                                                    <a href="compare.html" title="Compare">
                                                        <span class="icon icon-MusicMixer"></span>
                                                    </a>
                                                    <a href="#" data-toggle="modal" data-target="#myModal" title="Quick View">
                                                        <span class="icon icon-Eye"></span>
                                                    </a>
                                                </div>
                                            </div>
                                    </div>
                                </div>
                                <!-- Product Content End -->
                            </div>
                            <!-- Single Product End -->
                            <!-- Single Product Start -->
                            <div class="single-ponno-product">
                                <!-- Product Image Start -->
                                <div class="pro-img">
                                    <a href="product-details.html">
                                        <img class="primary-img" src="img\products\p8.jpeg" alt="single-product">
                                    </a>
                                </div>
                                <!-- Product Image End -->
                                <!-- Product Content Start -->
                                <div class="pro-content">
                                    <div class="pro-info">
                                        <h4>
                                            <a href="product-details.html">jenon Real Box</a>
                                        </h4>
                                        <p>
                                            <span class="special-price">$140.00</span>
                                        </p>
                                        <div class="product-rating">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <span class="quantity-pro">(120+)</span>
                                        </div>
                                        <p>Latest Intel mobile architecture Powered by the most advanced mobile processors from Intel, the new Core 2 Duo MacBook Pro is over 50% faster than the original Core Duo MacBook Pro and now sup..</p>
                                        <p>
                                            <div class="pro-actions">
                                                <div class="pro-add-cart">
                                                    <a href="cart.html" title="Add to Cart">Add To Cart</a>
                                                </div>
                                                <div class="pro-actions-link">
                                                    <a href="compare.html" title="Compare">
                                                        <span class="icon icon-MusicMixer"></span>
                                                    </a>
                                                    <a href="#" data-toggle="modal" data-target="#myModal" title="Quick View">
                                                        <span class="icon icon-Eye"></span>
                                                    </a>
                                                </div>
                                            </div>
                                    </div>
                                </div>
                                <!-- Product Content End -->
                            </div>
                            <!-- Single Product End -->
                        </div>
                        <!-- #list view End -->
                    </div>
                    <!-- Grid & List Main Area End -->
                </div>
                <!-- Shop Breadcrumb Area Start -->
                <div class="shop-breadcrumb-area border-default">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-5">
                            <span class="show-items">Showing 1-12 of 13 item(s) </span>
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-7">
                            <ul class="pfolio-breadcrumb-list text-center">
                                <li class="float-left prev">
                                    <a href="#">
                                        <i class="fa fa-angle-left" aria-hidden="true"></i>Previous
                                    </a>
                                </li>
                                <li class="active">
                                    <a href="#">1</a>
                                </li>
                                <li>
                                    <a href="#">2</a>
                                </li>
                                <li class="float-right next">
                                    <a href="#">
                                        Next
                                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Shop Breadcrumb Area End -->
            </div>
            <!-- product Categorie List End -->
        </div>
        <!-- Row End -->
    </div>
    <!-- Container End -->
</div>
<!-- Shop Page End -->
<!-- Footer Area Start Here -->
