@model CameraShop.Models.Product
@{
    ViewBag.Title = "Details";
}
@using CameraShop.HelperCode
<h2>Details</h2>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Category.CategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.CategoryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OriPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OriPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiscountedPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiscountedPrice)
        </dd>

        <dd>
            <table class="table">
                <tr>
                    <th>ten hinh anh</th>

                </tr>
                @foreach (var item in Model.FileImgs)
                {
                    <tr>

                        <td>
                            @*@Html.DisplayFor(modelItem => item.FileImg.file_name)*@

                            @Html.ImageDetail(item.file_base6)
                        </td>
                    </tr>
                }
            </table>
        </dd>
        <dd>
            @if (Model.ProductSpecification != null)
            {
                foreach (var item in Model.ProductSpecification)
                {
                    @Html.Raw(item.ToString())
                }
            }


        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ProductID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
