@model CameraShop.Models.Product
@using CameraShop.HelperCode
@{
    ViewBag.Title = "Chỉnh sửa sản phẩm";
}

<h2>Chỉnh sửa sản phẩm <span class="text-danger">@Model.ProductName </span> </h2>
<script src="~/Scripts/ckeditor/ckeditor.js"></script>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Thông tin</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.ProductID)

    <div class="form-group">
        @Html.LabelFor(model => model.ProductName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.ProductName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.ProductName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-12 ">
            URL sản phẩm (công thức: <b>ten-san-pham</b>+<b>sku</b>+<b>IDrandom</b> <i>viết thường không dấu có gạch ngang giữa các chữ</i>
            <span>
                <a href="https://www.smartwebsolutions.org/replace-space-with-hyphen/" target="_blank"><b>Tool viết</b></a>
            </span>
        </label>

        <div class="col-md-10">
            @Html.EditorFor(model => model.Alias, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Alias, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-12">Giá gốc <span class="text-danger"><b>(giá gốc > giá chưa giảm , định dạng xxx.00)</b></span></label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.OriPrice, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.OriPrice, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.DiscountedPrice, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.DiscountedPrice, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.DiscountedPrice, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.CategoryID, "Category Name", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("CategoryID", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.CategoryID, "", new { @class = "text-danger" })
        </div>
    </div>
    @{ List<CameraShop.ViewModels.AssignedImageData> imgs = ViewBag.FileImgs;}
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <div>Chọn hình ảnh</div>
            <div class="table-responsive">
                <table class="table ">
                    <thead>
                        <tr>
                            <th scope="col">STT</th>
                            <th scope="col">Tên hình ảnh</th>
                            <th scope="col">Hình ảnh</th>
                        </tr>

                    </thead>
                    <tbody>

                        @{
                            foreach (var img in imgs)
                            {
                                @:<tr>
                                    @:<td>
                                        <input type="checkbox"
                                               name="selectedFileImgs"
                                               value="@img.file_id"
                                               @(Html.Raw(img.Assigned ? "checked=\"checked\"" : "")) />

                                    @:</td>
                                    @:<td>
                                        @img.file_name
                                    @:</td>
                                    @:<td>
                                        @Html.ImageDetail(img.file_base6)
                                    @:</td>
                                }
                            @:</tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                Giới thiệu sản phẩm <span class="text-danger"><b>(viết gạch dầu dòng)</b></span> 
            </div>
        </div>
        <div class="col-md-10">
            <div class="form-group">
                <textarea class="ckeditor" name="ProductIntro">@Html.Raw(Model.ProductIntro)</textarea>
                <script>
                    CKEDITOR.replace("ProductIntro", { htmlEncodeOutput: false });

                </script>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <span>Thông số kỹ thuật (sử dụng <span class="text-danger"><b>table table-striped, xóa width</b></span>)</span> 
            </div>
        </div>
        <div class="col-md-10">
            <div class="form-group">
                <textarea class="ckeditor" name="ProductSpecification">@Html.Raw(Model.ProductSpecification)</textarea>
                <script>
                    CKEDITOR.replace("ProductSpecification", { htmlEncodeOutput: false });

                </script>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-success" />
        </div>
    </div>
</div>
    }

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
