@model IEnumerable<CameraShop.Models.Product>
@using CameraShop.HelperCode
@{
    ViewBag.Title = "Danh sach san pham";
}

<h2>Danh sach san pham</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-hover">
    <tr class="table-info">
        <th>Anh</th>
        <th>
            @Html.DisplayName("Category Name")
        </th>
        <th>
            @Html.DisplayName("Product name")
        </th>
        <th>
            @Html.DisplayName("Ori Price")
        </th>
        <th>
            @Html.DisplayName("DiscountedPrice")
        </th>
    
        <th></th>
    </tr>

@foreach (var item in Model){
<tr>
    
    <td>

        @{
            if (item.FileImgs!= null)
            {
                int count = 0;
                foreach (var img in item.FileImgs)
                {
                    count++;
                    if (count == 1)
                    {
                        @Html.ImageDetail(img.file_base6)
                    }
                }
            }

        }
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Category.CategoryName)
    </td>
    <td>
        <h6 class="font-weight-bold"><a href="@Url.Action("Details","Product", new { id = item.ProductID })">@Html.DisplayFor(modelItem => item.ProductName)</a></h6> 
    </td>
    <td>
        <p ><del class="old-price">@Html.DisplayFor(modelItem => item.OriPrice )</del></p>
       
    </td>
    <td>
        <p class="text-danger"> @Html.DisplayFor(modelItem => item.DiscountedPrice)</p>
       
    </td>
    
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.ProductID }) |
        @Html.ActionLink("Details", "Details", new { id = item.ProductID }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.ProductID })
    </td>
</tr>
}

</table>
