@model CameraShop.ViewModels.RelateProductViewModel

@using CameraShop.HelperCode

@{
    ViewBag.Title = Model.Product.ProductName;
}
@{
    int countProductRelate = 1;
}

<div class="breadcrumb-area">
    <div class="container">
        <ol class="breadcrumb breadcrumb-list">
            @if (ViewContext.RouteData.Values["controller"].ToString() != "Home1")
            {
                <li class="breadcrumb-item">
                    @Html.ActionLink(ViewContext.RouteData.Values["controller"].ToString(), "Index", ViewContext.RouteData.Values["controller"].ToString())
                </li>

            }
            @if (ViewContext.RouteData.Values["action"].ToString() != "Index")
            {
                <li class="breadcrumb-item">
                    @Html.ActionLink(ViewContext.RouteData.Values["action"].ToString(), ViewContext.RouteData.Values["action"].ToString(), ViewContext.RouteData.Values["controller"].ToString())
                </li>
            }


            <li class="breadcrumb-item active">@Model.Product.ProductName</li>
        </ol>
    </div>
</div>
<!-- Breadcrumb Area End Here -->
<!-- Product Thumbnail Start -->
<div class="main-product-thumbnail ptb-80">
    <div class="container">
        <div class="row">
            <!-- Main Thumbnail Image Start -->
            <div class="col-lg-5 col-md-6 mb-all-40">
                <!-- Thumbnail Large Image start -->
                <div class="tab-content">
                    @{
                        int count = 1;
                        {
                            foreach (var img in Model.Product.FileImgs)
                            {
                                if (count == 1)
                                {
                                    <div id="thumb@(count)" class="tab-pane fade show active">

                                        @Html.LargeImageDetails(img.file_base6)
                                    </div>
                                }
                                if (count >= 2)
                                {
                                    <div id="thumb@(count)" class="tab-pane fade ">

                                        @Html.LargeImageDetails(img.file_base6)
                                    </div>
                                }
                                count++;
                            }
                        }
                    }
                    @*<div id="thumb1" class="tab-pane fade show active">
                            <a data-fancybox="images" href="~/img/products/p2.jpeg">
                                <img src="~/img/products/p2.jpeg" alt="product-view">
                            </a>
                        </div>
                        <div id="thumb2" class="tab-pane fade">
                            <a data-fancybox="images" href="~/img/products/p5.jpeg">
                                <img src="~/img/products/p5.jpeg" alt="product-view">
                            </a>
                        </div>
                        <div id="thumb3" class="tab-pane fade">
                            <a data-fancybox="images" href="img\products\p6.jpeg">
                                <img src="~/img/products/p6.jpeg" alt="product-view">
                            </a>
                        </div>
                        <div id="thumb4" class="tab-pane fade">
                            <a data-fancybox="images" href="img\products\p7.jpeg">
                                <img src="~/img/products/p7.jpeg" alt="product-view">
                            </a>
                        </div>*@
                </div>
                <!-- Thumbnail Large Image End -->
                <!-- Thumbnail Image End -->
                <div class="product-thumbnail">
                    <div class="thumb-menu owl-carousel nav tabs-area" role="tablist">
                        @{
                            int countThumbnail = 1;
                            {
                                if (count > 2)
                                {
                                    foreach (var img in Model.Product.FileImgs)
                                    {
                                        if (countThumbnail == 1)
                                        {
                                            <a class="active" data-toggle="tab" href="#thumb1">
                                                @Html.ThumbnailImagesCount2(img.file_base6)
                                            </a>
                                        }
                                        if (countThumbnail >= 2 && countThumbnail <= count)
                                        {
                                            <a data-toggle="tab" href="#thumb@(countThumbnail)">
                                                @Html.ThumbnailImagesCount2(img.file_base6)
                                            </a>
                                        }
                                        countThumbnail++;
                                    }
                                }

                            }
                        }
                        @*<a class="active" data-toggle="tab" href="#thumb1">
                                <img src="~/img/products/p2.jpeg" alt="product-thumbnail">
                            </a>
                            <a data-toggle="tab" href="#thumb2">
                                <img src="~/img/products/p5.jpeg" alt="product-thumbnail">
                            </a>
                            <a data-toggle="tab" href="#thumb3">
                                <img src="img\products\p6.jpeg" alt="product-thumbnail">
                            </a>
                            <a data-toggle="tab" href="#thumb4">
                                <img src="img\products\p7.jpeg" alt="product-thumbnail">
                            </a>
                            <a data-toggle="tab" href="#thumb5">
                                <img src="img\products\p8.jpeg" alt="product-thumbnail">
                            </a>*@
                    </div>
                </div>
                <!-- Thumbnail image end -->
            </div>
            <!-- Main Thumbnail Image End -->
            <!-- Thumbnail Description Start -->
            <div class="col-lg-7 col-md-6">
                <div class="thubnail-desc ">
                    <h3 class="product-header">@Html.DisplayFor(modelItem => modelItem.Product.ProductName) </h3>
                    <ul class="rating-summary">
                        <li class="rating-pro">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                        </li>
                        <li class="read-review">
                            @ViewBag.Category
                        </li>
                        <li class="write-review">
                            <a href="#">write review</a>
                        </li>
                    </ul>
                    <div class="pro-thumb-price mt-20">
                        @if (Model.Product.DiscountedPrice > 10000)
                        {
                            <p>
                                <span class="special-price text-danger">

                                    @Html.DisplayFor(modelItem => modelItem.Product.DiscountedPrice)


                                </span>
                                <del class="old-price">@Html.DisplayFor(modelItem => modelItem.Product.OriPrice)</del>
                            </p>
                        }
                        else
                        {
                            <span class="special-price text-danger">
                                @Html.DisplayName("Liên hệ")
                            </span>
                        }
                    </div>
                    <div class="pro-desc-details">
                        @if (Model.Product.ProductIntro != null)
                        {
                            foreach (var item in Model.Product.ProductIntro)
                            {
                                @Html.Raw(item.ToString())
                            }
                        }
                    </div>

                    <div class="color clearfix mb-30">


                    </div>
                    <div class="quatity-stock">
                        @if (Model.Product.DiscountedPrice > 10000)
                        {
                            <label>Số lượng</label>
                            <ul class="d-flex flex-wrap">
                                <li class="box-quantity">
                                    <form action="#">
                                        <input class="quantity" type="number" min="1" value="1" disabled>
                                    </form>
                                </li>

                                <li>
                                    @*<a href="cart.html" title="Add to Cart">Add To Cart</a>*@
                                    <button type="submit" data-toggle="modal" data-target="#exampleModal" onclick="AddToCart(this);" itemid="@Model.Product.ProductID" class="pro-cart">Thêm vào giỏ</button>
                                </li>

                            </ul>
                        }

                    </div>
                </div>
            </div>
            <!-- Thumbnail Description End -->
        </div>
        <!-- Row End -->
    </div>
    <!-- Container End -->
</div>
<!-- Product Thumbnail End -->
<!-- Product Thumbnail Description Start -->
<div class="thumnail-desc  pb-80">
    <div class="container">
        <div class="thumb-desc-inner">
            <div class="row">
                <div class="col-sm-12">
                    <ul class="main-thumb-desc nav tabs-area" role="tablist">
                        <li>
                            <a class="active" data-toggle="tab" href="#dtail">Thông số kĩ thuật</a>
                        </li>
                        <li>
                            <a data-toggle="tab" href="#review">Reviews (1)</a>
                        </li>
                    </ul>


                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-scrollable" role="document">
                            <div class="modal-body">
                                <div class="alert alert-success" role="alert">
                                    <p class="text-center"><b>Thêm vào giỏ hàng thành công!</b></p>
                                    <div class="modal-content"><button type="button" onclick="document.location.href='@Url.Action("Cart","Cart")'" class="btn btn-success ">Tiến hành thanh toán</button></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Product Thumbnail Tab Content Start -->
                    <div class="tab-content thumb-content">
                        <div id="dtail" class="tab-pane fade show active">
                            @if (Model.Product.ProductSpecification != null)
                            {
                                foreach (var item in Model.Product.ProductSpecification)
                                {
                                    @Html.Raw(item.ToString())
                                }
                            }
                        </div>

                    </div>
                    <!-- Product Thumbnail Tab Content End -->
                </div>
            </div>
            <!-- Row End -->
        </div>
    </div>
    <!-- Container End -->
</div>
<!-- Product Thumbnail Description End -->
<!-- More Product Start Here -->
<div class="more-product pb-80">
    <div class="container">
        <div class="section-title text-center mb-50">
            <h2>SẢN PHẨM LIÊN QUAN</h2>
        </div>
        <!-- Featured Product Activation Start Here -->
        <div class="feature-pro-active owl-carousel">
            @if (Model.Products.Where(p => p.Category.CategoryName == Model.Product.Category.CategoryName) != null)
            {
                foreach (var item in Model.Products.Where(p => p.Category.CategoryName == Model.Product.Category.CategoryName))
                {
                    if (countProductRelate >= 2)
                    {
                        <div class="single-ponno-product">
                            <!-- Product Image Start -->
                            <div class="pro-img">
                                @{
                                    int countImg = 0;
                                    foreach (var img in item.FileImgs)
                                    {
                                        countImg++;
                                        if (countImg == 1)
                                        {
                                            <a href="@Url.Action("Details","Home",new { alias = item.Alias})">
                                                @Html.ImageSlick(img.file_base6)
                                            </a>

                                        }
                                    }
                                }

                                <a class="sticker-new " href="@Url.Action("Details","Home",new { alias = item.Alias})"><span class="ti-heart"></span></a>
                                <span class="sticker-sale">new</span>
                            </div>
                            <!-- Product Image End -->
                            <!-- Product Content Start -->
                            <div class="pro-content">
                                <div class="pro-info">
                                    <h6 class="font-weight-bold" display="flex"><a href="@Url.Action("Details","Home", new { alias = item.Alias})">@item.ProductName</a></h6>
                                    <p>
                                        <span class="special-price text-danger">
                                            @if (item.DiscountedPrice > 10000)
                                            {@Html.DisplayFor(modelItem => item.DiscountedPrice)}
                                        else
                                        {
                                            @Html.DisplayName("Liên hệ");
                                        }
                                        </span>
                                        <div class="product-rating">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <span class="quantity-pro">(200+)</span>
                                        </div>
                                </div>
                                @if (item.DiscountedPrice > 10000)
                                {

                                    <div class="pro-add-cart">
                                        @*<a href="cart.html" title="Add to Cart">Add To Cart</a>*@
                                        <button type="submit" data-toggle="modal" data-target="#exampleModal" onclick="AddToCart(this);" itemid="@item.ProductID" class="pro-cart">Thêm vào giỏ</button>
                                    </div>

                                }
                            </div>
                            <!-- Product Content End -->
                        </div>
                    }
                    countProductRelate++;
                }
            }


        </div>
        <!-- Featured Product Activation Start Here -->
    </div>
</div>
<!-- More Product End Here -->
<script type="text/javascript">
    //$("#myLink").click(function (e) {

    //    e.preventDefault();
    //    $.ajax({

    //        url: $(this).attr("href"), // comma here instead of semicolon
    //        success: function () {
    //            alert("Value Added");  // or any other indication if you want to show
    //        }

    //    });

    //});
    function AddToCart(item) {
        var itemid = $(item).attr("itemid");
        //alert(itemid);
        var formData = new FormData();
        formData.append("ProductID", itemid);

        $.ajax({
            async: false,
            type: "POST",
            contentType: false,
            processData: false,
            data: formData,
            url: '/Home/AddToCart',
            success: function (data) {
                if (data.success) {
                    //alert("Đã thêm vào giỏ hàng")
                    $("#exampleModal").show();
                    $("#cartItem").text("" + data.Counter + " sản phẩm ");

                    //$("dropdown cart-box-width active").show();
                }

            },
            error: function () {
                alert("There is some problem");
            }
        })
    }
</script>
