@model IEnumerable<CameraShop.Models.Product>

@using CameraShop.HelperCode

@{
    ViewBag.Title = "Lắp đặt camera giá rẻ, nhận lắp đặt camera giá rẻ sài gòn";
}
@{
    int countProductBestSeal = 1;
}
@*<table class="table">
           <tr>
               <th>
                   @Html.DisplayNameFor(model => model.Category.CategoryName)
               </th>

               <th>
                   @Html.DisplayNameFor(model => model.ProductName)
               </th>
               <th>
                   @Html.DisplayNameFor(model => model.OriPrice)
               </th>
               <th>
                   @Html.DisplayNameFor(model => model.DiscountedPrice)
               </th>
               <th></th>
           </tr>

       @foreach (var item in Model) {
           <tr>
               <td>
                   @Html.DisplayFor(modelItem => item.Category.CategoryName)
               </td>

               <td>
                   @Html.DisplayFor(modelItem => item.ProductName)
               </td>
               <td>
                   @Html.DisplayFor(modelItem => item.OriPrice)
               </td>
               <td>
                   @Html.DisplayFor(modelItem => item.DiscountedPrice)
               </td>
               <td>

                   @Html.ActionLink("Details", "Details", new { id=item.ProductID }) |

               </td>
           </tr>
       }

    </table>*@

<!-- Featured Product Start Here -->

<div class="featured-pro pb-80">
    <div class="container">
        <div class="main-product-tab-area">
            <!-- Nav tabs -->
            <ul class="nav tabs-area pro-tabs-area" role="tablist">
                <li class="nav-item">
                    <a class="active" data-toggle="tab" href="#best-deal">Best deal</a>
                </li>
                <li class="nav-item">
                    <a data-toggle="tab" href="#new-pro">New Product</a>
                </li>
                <li class="nav-item">
                    <a data-toggle="tab" href="#featured">Featured</a>
                </li>
            </ul>
            <!-- Tab Contetn Start -->
            <div class="tab-content">
                <div id="best-deal" class="tab-pane fade show active">
                    <!-- Best Deal Product Activation Start Here -->
                    <div class="feature-pro-active owl-carousel">
                        <!-- Single Product Start -->
                        @if (Model != null)
                        {

                            foreach (var item in Model)
                            {
                                if (countProductBestSeal <= 10)
                                {
                                    <div class="single-ponno-product">
                                        <!-- Product Image Start -->
                                        <div class="pro-img">
                                            @{

                                                int count = 0;
                                                foreach (var img in item.FileImgs)
                                                {
                                                    count++;
                                                    if (count == 1)
                                                    {
                                                        <a href="@Url.Action("Details","Home",new { alias = item.Alias})">
                                                            @Html.ImageSlick(img.file_base6)
                                                        </a>

                                                    }
                                                }
                                            }
                                            <a class="sticker-new " href="wishlist.html"><span class="ti-heart"></span></a>
                                            <span class="sticker-sale">new</span>
                                        </div>
                                        <!-- Product Image End -->
                                        <!-- Product Content Start -->
                                        <div class="pro-content">
                                            <div class="pro-info">
                                                <h6 class="font-weight-bold" display="flex"><a href="@Url.Action("Details","Home", new { alias = item.Alias})">@Html.DisplayFor(modelItem => item.ProductName)</a></h6>
                                                <p>
                                                    <span class="special-price text-danger">
                                                        @if (item.DiscountedPrice > 10000)
                                                        {@Html.DisplayFor(modelItem => item.DiscountedPrice)}
                                                    else
                                                    {
                                                        @Html.DisplayName("Liên hệ");
                                                    }
                                                    </span>
                                                </p>
                                                <div class="product-rating">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <span class="quantity-pro">(200+)</span>
                                                </div>
                                            </div>
                                            @if (item.DiscountedPrice > 10000)
                                            {

                                                <div class="pro-add-cart">
                                                    @*<a href="cart.html" title="Add to Cart">Add To Cart</a>*@
                                                    <button type="submit" data-toggle="modal" data-target="#exampleModal" onclick="AddToCart(this);" itemid="@item.ProductID" class="pro-cart">Thêm vào giỏ</button>
                                                </div>

                                            }

                                        </div>
                                        <!-- Product Content End -->
                                    </div>
                                }
                                countProductBestSeal++;
                            }
                        }

                        <!-- Single Product End -->



                    </div>
                    <!-- Best Deal Product Activation End Here -->
                </div>
                <!-- #best-deal End Here -->
                @*<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                        Launch demo modal
                    </button>*@

                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-scrollable" role="document">
                        <div class="modal-body">
                            <div class="alert alert-success" role="alert">
                                <p class="text-center"><b>Thêm vào giỏ hàng thành công!</b></p>
                                <div class="modal-content"><button type="button" onclick="document.location.href='@Url.Action("Cart","Cart")'" class="btn btn-success ">Tiến hành thanh toán</button></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End Modal-->
                <div id="new-pro" class="tab-pane fade">
                    <!-- New Product Activation Start Here -->
                    <div class="feature-pro-active owl-carousel">
                        <!-- Single Product Start -->
                        <div class="single-ponno-product">
                            <!-- Product Image Start -->
                            <div class="pro-img">
                                <a href="product-details.html">
                                    <img class="primary-img" src="img\products\p1.jpeg" alt="single-product">
                                    <img class="secondary-img" src="img\products\p2.jpeg" alt="single-product">
                                </a>
                                <div class="pro-actions-link">
                                    <a href="compare.html" title="Compare"><span class="icon icon-MusicMixer"></span></a>
                                    <a href="#" data-toggle="modal" data-target="#myModal" title="Quick View"><span class="icon icon-Eye"></span></a>
                                </div>
                                <a class="sticker-new " href="wishlist.html"><span class="ti-heart"></span></a>
                                <span class="sticker-sale">new</span>
                            </div>
                            <!-- Product Image End -->
                            <!-- Product Content Start -->
                            <div class="pro-content">
                                <div class="pro-info">
                                    <h4><a href="product-details.html">Ponno 360 Camera</a></h4>
                                    <p><span class="special-price">$140.00</span></p>
                                    <div class="product-rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-o"></i>
                                        <span class="quantity-pro">(200+)</span>
                                    </div>
                                </div>
                                <div class="pro-add-cart">
                                    <a href="cart.html" title="Add to Cart">Add To Cart</a>
                                </div>
                            </div>
                            <!-- Product Content End -->
                        </div>
                        <!-- Single Product End -->
                        <!-- Single Product Start -->
                        <div class="single-ponno-product">
                            <!-- Product Image Start -->
                            <div class="pro-img">
                                <a href="product-details.html">
                                    <img class="primary-img" src="img\products\p1.jpeg" alt="single-product">
                                    <img class="secondary-img" src="img\products\p2.jpeg" alt="single-product">
                                </a>
                                <div class="pro-actions-link">
                                    <a href="compare.html" title="Compare"><span class="icon icon-MusicMixer"></span></a>
                                    <a href="#" data-toggle="modal" data-target="#myModal" title="Quick View"><span class="icon icon-Eye"></span></a>
                                </div>
                                <a class="sticker-new " href="wishlist.html"><span class="ti-heart"></span></a>
                                <span class="sticker-sale">new</span>
                            </div>
                            <!-- Product Image End -->
                            <!-- Product Content Start -->
                            <div class="pro-content">
                                <div class="pro-info">
                                    <h4><a href="product-details.html">Ponno 360 Camera</a></h4>
                                    <p><span class="special-price">$140.00</span></p>
                                    <div class="product-rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-o"></i>
                                        <span class="quantity-pro">(200+)</span>
                                    </div>
                                </div>
                                <div class="pro-add-cart">
                                    <a href="cart.html" title="Add to Cart">Add To Cart</a>
                                </div>
                            </div>
                            <!-- Product Content End -->
                        </div>
                        <!-- Single Product End -->
                        <!-- Single Product Start -->
                        <div class="single-ponno-product">
                            <!-- Product Image Start -->
                            <div class="pro-img">
                                <a href="product-details.html">
                                    <img class="primary-img" src="img\products\p1.jpeg" alt="single-product">
                                    <img class="secondary-img" src="img\products\p2.jpeg" alt="single-product">
                                </a>
                                <div class="pro-actions-link">
                                    <a href="compare.html" title="Compare"><span class="icon icon-MusicMixer"></span></a>
                                    <a href="#" data-toggle="modal" data-target="#myModal" title="Quick View"><span class="icon icon-Eye"></span></a>
                                </div>
                                <a class="sticker-new " href="wishlist.html"><span class="ti-heart"></span></a>
                                <span class="sticker-sale">new</span>
                            </div>
                            <!-- Product Image End -->
                            <!-- Product Content Start -->
                            <div class="pro-content">
                                <div class="pro-info">
                                    <h4><a href="product-details.html">Ponno 360 Camera</a></h4>
                                    <p><span class="special-price">$140.00</span></p>
                                    <div class="product-rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-o"></i>
                                        <span class="quantity-pro">(200+)</span>
                                    </div>
                                </div>
                                <div class="pro-add-cart">
                                    <a href="cart.html" title="Add to Cart">Add To Cart</a>
                                </div>
                            </div>
                            <!-- Product Content End -->
                        </div>
                        <!-- Single Product End -->
                        <!-- Single Product Start -->
                        <div class="single-ponno-product">
                            <!-- Product Image Start -->
                            <div class="pro-img">
                                <a href="product-details.html">
                                    <img class="primary-img" src="img\products\p1.jpeg" alt="single-product">
                                    <img class="secondary-img" src="img\products\p2.jpeg" alt="single-product">
                                </a>
                                <div class="pro-actions-link">
                                    <a href="compare.html" title="Compare"><span class="icon icon-MusicMixer"></span></a>
                                    <a href="#" data-toggle="modal" data-target="#myModal" title="Quick View"><span class="icon icon-Eye"></span></a>
                                </div>
                                <a class="sticker-new " href="wishlist.html"><span class="ti-heart"></span></a>
                                <span class="sticker-sale">new</span>
                            </div>
                            <!-- Product Image End -->
                            <!-- Product Content Start -->
                            <div class="pro-content">
                                <div class="pro-info">
                                    <h4><a href="product-details.html">Ponno 360 Camera</a></h4>
                                    <p><span class="special-price">$140.00</span></p>
                                    <div class="product-rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-o"></i>
                                        <span class="quantity-pro">(200+)</span>
                                    </div>
                                </div>
                                <div class="pro-add-cart">
                                    <a href="cart.html" title="Add to Cart">Add To Cart</a>
                                </div>
                            </div>
                            <!-- Product Content End -->
                        </div>
                        <!-- Single Product End -->
                        <!-- Single Product Start -->
                        <div class="single-ponno-product">
                            <!-- Product Image Start -->
                            <div class="pro-img">
                                <a href="product-details.html">
                                    <img class="primary-img" src="img\products\p1.jpeg" alt="single-product">
                                    <img class="secondary-img" src="img\products\p2.jpeg" alt="single-product">
                                </a>
                                <div class="pro-actions-link">
                                    <a href="compare.html" title="Compare"><span class="icon icon-MusicMixer"></span></a>
                                    <a href="#" data-toggle="modal" data-target="#myModal" title="Quick View"><span class="icon icon-Eye"></span></a>
                                </div>
                                <a class="sticker-new " href="wishlist.html"><span class="ti-heart"></span></a>
                                <span class="sticker-sale">new</span>
                            </div>
                            <!-- Product Image End -->
                            <!-- Product Content Start -->
                            <div class="pro-content">
                                <div class="pro-info">
                                    <h4><a href="product-details.html">Ponno 360 Camera</a></h4>
                                    <p><span class="special-price">$140.00</span></p>
                                    <div class="product-rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-o"></i>
                                        <span class="quantity-pro">(200+)</span>
                                    </div>
                                </div>
                                <div class="pro-add-cart">
                                    <a href="cart.html" title="Add to Cart">Add To Cart</a>
                                </div>
                            </div>
                            <!-- Product Content End -->
                        </div>
                        <!-- Single Product End -->
                    </div>
                    <!-- New Product Activation End Here -->
                </div>
                <!-- #new-pro End Here -->
                <div id="featured" class="tab-pane fade">
                    <!-- Featured Product Activation Start Here -->
                    <div class="feature-pro-active owl-carousel">
                        <!-- Single Product Start -->
                        <div class="single-ponno-product">
                            <!-- Product Image Start -->
                            <div class="pro-img">
                                <a href="product-details.html">
                                    <img class="primary-img" src="img\products\p1.jpeg" alt="single-product">
                                    <img class="secondary-img" src="img\products\p2.jpeg" alt="single-product">
                                </a>
                                <div class="pro-actions-link">
                                    <a href="compare.html" title="Compare"><span class="icon icon-MusicMixer"></span></a>
                                    <a href="#" data-toggle="modal" data-target="#myModal" title="Quick View"><span class="icon icon-Eye"></span></a>
                                </div>
                                <a class="sticker-new " href="wishlist.html"><span class="ti-heart"></span></a>
                                <span class="sticker-sale">new</span>
                            </div>
                            <!-- Product Image End -->
                            <!-- Product Content Start -->
                            <div class="pro-content">
                                <div class="pro-info">
                                    <h4><a href="product-details.html">Ponno 360 Camera</a></h4>
                                    <p><span class="special-price">$140.00</span></p>
                                    <div class="product-rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-o"></i>
                                        <span class="quantity-pro">(200+)</span>
                                    </div>
                                </div>
                                <div class="pro-add-cart">
                                    <a href="cart.html" title="Add to Cart">Add To Cart</a>
                                </div>
                            </div>
                            <!-- Product Content End -->
                        </div>
                        <!-- Single Product End -->
                        <!-- Single Product Start -->
                        <div class="single-ponno-product">
                            <!-- Product Image Start -->
                            <div class="pro-img">
                                <a href="product-details.html">
                                    <img class="primary-img" src="img\products\p1.jpeg" alt="single-product">
                                    <img class="secondary-img" src="img\products\p2.jpeg" alt="single-product">
                                </a>
                                <div class="pro-actions-link">
                                    <a href="compare.html" title="Compare"><span class="icon icon-MusicMixer"></span></a>
                                    <a href="#" data-toggle="modal" data-target="#myModal" title="Quick View"><span class="icon icon-Eye"></span></a>
                                </div>
                                <a class="sticker-new " href="wishlist.html"><span class="ti-heart"></span></a>
                                <span class="sticker-sale">new</span>
                            </div>
                            <!-- Product Image End -->
                            <!-- Product Content Start -->
                            <div class="pro-content">
                                <div class="pro-info">
                                    <h4><a href="product-details.html">Ponno 360 Camera</a></h4>
                                    <p><span class="special-price">$140.00</span></p>
                                    <div class="product-rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-o"></i>
                                        <span class="quantity-pro">(200+)</span>
                                    </div>
                                </div>
                                <div class="pro-add-cart">
                                    <a href="cart.html" title="Add to Cart">Add To Cart</a>
                                </div>
                            </div>
                            <!-- Product Content End -->
                        </div>
                        <!-- Single Product End -->
                        <!-- Single Product Start -->
                        <div class="single-ponno-product">
                            <!-- Product Image Start -->
                            <div class="pro-img">
                                <a href="product-details.html">
                                    <img class="primary-img" src="img\products\p1.jpeg" alt="single-product">
                                    <img class="secondary-img" src="img\products\p2.jpeg" alt="single-product">
                                </a>
                                <div class="pro-actions-link">
                                    <a href="compare.html" title="Compare"><span class="icon icon-MusicMixer"></span></a>
                                    <a href="#" data-toggle="modal" data-target="#myModal" title="Quick View"><span class="icon icon-Eye"></span></a>
                                </div>
                                <a class="sticker-new " href="wishlist.html"><span class="ti-heart"></span></a>
                                <span class="sticker-sale">new</span>
                            </div>
                            <!-- Product Image End -->
                            <!-- Product Content Start -->
                            <div class="pro-content">
                                <div class="pro-info">
                                    <h4><a href="product-details.html">Ponno 360 Camera</a></h4>
                                    <p><span class="special-price">$140.00</span></p>
                                    <div class="product-rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-o"></i>
                                        <span class="quantity-pro">(200+)</span>
                                    </div>
                                </div>
                                <div class="pro-add-cart">
                                    <a href="cart.html" title="Add to Cart">Add To Cart</a>
                                </div>
                            </div>
                            <!-- Product Content End -->
                        </div>
                        <!-- Single Product End -->
                        <!-- Single Product Start -->
                        <div class="single-ponno-product">
                            <!-- Product Image Start -->
                            <div class="pro-img">
                                <a href="product-details.html">
                                    <img class="primary-img" src="img\products\p1.jpeg" alt="single-product">
                                    <img class="secondary-img" src="img\products\p2.jpeg" alt="single-product">
                                </a>
                                <div class="pro-actions-link">
                                    <a href="compare.html" title="Compare"><span class="icon icon-MusicMixer"></span></a>
                                    <a href="#" data-toggle="modal" data-target="#myModal" title="Quick View"><span class="icon icon-Eye"></span></a>
                                </div>
                                <a class="sticker-new " href="wishlist.html"><span class="ti-heart"></span></a>
                                <span class="sticker-sale">new</span>
                            </div>
                            <!-- Product Image End -->
                            <!-- Product Content Start -->
                            <div class="pro-content">
                                <div class="pro-info">
                                    <h4><a href="product-details.html">Ponno 360 Camera</a></h4>
                                    <p><span class="special-price">$140.00</span></p>
                                    <div class="product-rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-o"></i>
                                        <span class="quantity-pro">(200+)</span>
                                    </div>
                                </div>
                                <div class="pro-add-cart">
                                    <a href="cart.html" title="Add to Cart">Add To Cart</a>
                                </div>
                            </div>
                            <!-- Product Content End -->
                        </div>
                        <!-- Single Product End -->
                        <!-- Single Product Start -->
                        <div class="single-ponno-product">
                            <!-- Product Image Start -->
                            <div class="pro-img">
                                <a href="product-details.html">
                                    <img class="primary-img" src="img\products\p1.jpeg" alt="single-product">
                                    <img class="secondary-img" src="img\products\p2.jpeg" alt="single-product">
                                </a>
                                <div class="pro-actions-link">
                                    <a href="compare.html" title="Compare"><span class="icon icon-MusicMixer"></span></a>
                                    <a href="#" data-toggle="modal" data-target="#myModal" title="Quick View"><span class="icon icon-Eye"></span></a>
                                </div>
                                <a class="sticker-new " href="wishlist.html"><span class="ti-heart"></span></a>
                                <span class="sticker-sale">new</span>
                            </div>
                            <!-- Product Image End -->
                            <!-- Product Content Start -->
                            <div class="pro-content">
                                <div class="pro-info">
                                    <h4><a href="product-details.html">Ponno 360 Camera</a></h4>
                                    <p><span class="special-price">$140.00</span></p>
                                    <div class="product-rating">
                                        <i class="fa fa-star"></i>

                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-o"></i>
                                        <span class="quantity-pro">(200+)</span>
                                    </div>
                                </div>
                                <div class="pro-add-cart">
                                    <a href="cart.html" title="Add to Cart">Add To Cart</a>
                                </div>
                            </div>
                            <!-- Product Content End -->
                        </div>
                        <!-- Single Product End -->
                    </div>
                    <!-- Featured Product Activation End Here -->
                </div>
                <!-- #featured End Here -->
            </div>
            <!-- Tab Content End -->
        </div>
        <!-- main-product-tab-area-->
    </div>
</div>
<!-- Featured Product End Here -->
<script type="text/javascript">
    //$("#myLink").click(function (e) {

    //    e.preventDefault();
    //    $.ajax({

    //        url: $(this).attr("href"), // comma here instead of semicolon
    //        success: function () {
    //            alert("Value Added");  // or any other indication if you want to show
    //        }

    //    });

    //});
    function AddToCart(item) {
        var itemid = $(item).attr("itemid");
        //alert(itemid);
        var formData = new FormData();
        formData.append("ProductID", itemid);

        $.ajax({
            async: false,
            type: "POST",
            contentType: false,
            processData: false,
            data: formData,
            url: '/Home/AddToCart',
            success: function (data) {
                if (data.success) {
                    //alert("Đã thêm vào giỏ hàng")
                    $("#exampleModal").show();
                    $("#cartItem").text("" + data.Counter + " sản phẩm ");

                    //$("dropdown cart-box-width active").show();
                }

            },
            error: function () {
                alert("There is some problem");
            }
        })
    }
</script>
