@model IEnumerable<CameraShop.Models.Product>

@using CameraShop.HelperCode

@{
    ViewBag.Title = "Lắp đặt camera giá rẻ, nhận lắp đặt camera giá rẻ sài gòn";
}
@{
    int countProductBestSeal = 1;
}


<!-- Slider Area Start -->
<div class="slider-area">
    <!-- Slider Area Start Here -->
    <div class="slider-activation owl-carousel">
        <!-- Start Single Slide -->
        <div class="slide align-center-left fullscreen animation-style-01 bg-image-1 ">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-5 col-md-5">
                        <div class="sldier-right-img">
                            <img src="~/img/slider/s1_3.jpg" alt="slider-img">
                        </div>
                    </div>
                    <div class="col-lg-7 col-md-7">
                        <div class="slider-content">
                            <h6>camerasg247.com</h6>
                            <h1>Lắp đặt camera 24/7</h1>
                            <p>Uy tín chất lượng - Nhanh chóng - Giá cạnh tranh</p>
                            <p>Liên hệ: <span class="text-danger">0923123xxxx</span></p>
                            <div class="slide-btn small-btn">
                                <a href="@Url.Action("Index","Category")">Xem sản phẩm</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Single Slide -->
        <!-- Start Single Slide -->
        <div class="slide align-center-left fullscreen animation-style-02 bg-image-1">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-5 col-md-5">
                        <div class="sldier-right-img">
                            <img src="~/img/slider/tu-van.jpg" alt="slider-img">
                        </div>
                    </div>
                    <div class="col-lg-7 col-md-7">
                        <div class="slider-content">
                            <h6>camerasg247.com </h6>
                            <h1>tư vấn - lắp đặt camera   </h1>
                            <p>Nhận tư vấn, lắp đặt camera khu vực TPHCM và các vùng lân cận!</p>
                            <p>Liên hệ: <span class="text-danger">093232323xx</span></p>
                            <div class="slide-btn small-btn">
                                <a href="@Url.Action("Index","Category")">Xem sản phẩm</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Single Slide -->
    </div>
    <!-- Slider Area End Here -->
</div>
<!-- Slider Area End -->
<!-- Featured Product Start Here -->
<!-- Hot Deal Area Start Here -->
<div class="hot-deal pt-50 pb-80">
    <div class="container">
        <div class="row align-items-center">
            <!-- Blog Details Start -->
            <div class="col-xl-9 col-lg-8">
                <div class="blog-details mb-all-40">
                    
                    <div class="text-upper-portion">
                        <h3 class="blog-dtl-header portfolio-header">Kinh nghiệm lắp đặt camera quan sát</h3>
                        <ul class="meta-box meta-blog d-flex">

                           
                        </ul>
                        <p >– Không lắp đặt camera không rõ nguồn gốc, kém chất lượng vì sẽ bị sự cố thường xuyên.</p>
                        <p>– Yêu cầu cam kết rõ ràng về chất lượng và hậu mãi từ công ty lắp đặt.</p>
                        <p>– Không lắp đặt camera với giá quá rẻ trừ khi bạn có thể tự bảo hành hệ thống.</p>
                        <p>– Nếu bạn không yên tâm có thể yêu cầu giữ lại một phần tiền cho phí bảo hành.</p>
                        <p>– Chúng tôi cam kết cung cấp các sản phẩm chính hãng, đúng tiêu chuẩn, đúng nguồn gốc xuất xứ và yêu cầu kỹ thuật của nhà sản xuất.</p>
                        <p>– Giá cả cạnh tranh nhất cho chất lượng hoàn hảo nhất và mang lại lợi ích cao trong quá trình sử dụng.</p>
                        <p>– Tư vấn, thi công – Bảo hành, bảo trì chu đáo nhất.</p>
                        <p>– Chúng tôi rất hân hạnh được phục vụ khi bạn cần. Cảm ơn bạn đã quan tâm đến sản phẩm chúng tôi. Mọi yêu cầu lắp đặt camera xin vui lòng gọi số hotline 24/7 :<span class="text-danger font-weight-bold">0912 123 123</span> </p>
                    </div>
                    
                   
                </div>
            </div>
            <!-- Blog Details End -->
            <div class="col-xl-3">
                <!-- Single Product Start -->
                <div class="hot-deal deal-active owl-carousel">
                    <!-- Single Product Start -->
                    @if (Model != null)
                    {


                        foreach (var item in Model.Take(5))
                        {
                            <div class="single-ponno-product">
                                <!-- Product Image Start -->
                                <div class="pro-img">
                                    @{

                                        int countImgProdHotDeal = 0;
                                        foreach (var img in item.FileImgs)
                                        {
                                            countImgProdHotDeal++;
                                            if (countImgProdHotDeal == 1)
                                            {
                                                <a href="@Url.Action("Details","Home",new { alias = item.Alias})">
                                                    @Html.ImageSlick(img.file_base6)
                                                </a>

                                            }
                                        }
                                    }
                                    <a class="sticker-new " href="@Url.Action("Details","Home",new { alias = item.Alias})"><span class="ti-heart"></span></a>
                                    <span class="sticker-sale">new</span>
                                </div>
                                <!-- Product Image End -->
                                <!-- Product Content Start -->
                                <div class="pro-content">
                                    <div class="pro-info">
                                        <h6 class="font-weight-bold" display="flex"><a href="@Url.Action("Details","Home", new { alias = item.Alias})">@Html.DisplayFor(modelItem => item.ProductName)</a></h6>
                                        <p>
                                            <span class="special-price text-danger">
                                                @if (item.DiscountedPrice > 10000)
                                                {@Html.DisplayFor(modelItem => item.DiscountedPrice)}
                                            else
                                            {
                                                @Html.DisplayName("Liên hệ");
                                            }
                                            </span>
                                        </p>
                                        <div class="product-rating">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <span class="quantity-pro">(5+)</span>
                                        </div>
                                    </div>
                                    @if (item.DiscountedPrice > 10000)
                                    {

                                        <div class="pro-add-cart">
                                            @*<a href="cart.html" title="Add to Cart">Add To Cart</a>*@
                                            <button type="submit" data-toggle="modal" data-target="#exampleModal" onclick="AddToCart(this);" itemid="@item.ProductID" class="pro-cart">Thêm vào giỏ</button>
                                        </div>

                                    }

                                </div>
                                <!-- Product Content End -->
                            </div>
                        }
                        
                    }
                 
                  
                </div>
                <!-- Single Product End -->
            </div>
        </div>
    </div>
</div>
<!-- Hot Deal Area End Here -->
<div class="featured-pro pb-80">
    <div class="container">
        <div class="main-product-tab-area">
            <!-- Nav tabs -->
            <ul class="nav tabs-area pro-tabs-area" role="tablist">
                <li class="nav-item">
                    <a class="active" data-toggle="tab" href="#best-deal">Sản phẩm bán chạy</a>
                </li>

            </ul>
            <!-- Tab Contetn Start -->
            <div class="tab-content">
                <div id="best-deal" class="tab-pane fade show active">
                    <!-- Best Deal Product Activation Start Here -->
                    <div class="feature-pro-active owl-carousel">
                        <!-- Single Product Start -->
                        @if (Model != null)
                        {

                            foreach (var item in Model)
                            {
                                if (countProductBestSeal <= 10)
                                {
                                    <div class="single-ponno-product">
                                        <!-- Product Image Start -->
                                        <div class="pro-img">
                                            @{

                                                int count = 0;
                                                foreach (var img in item.FileImgs)
                                                {
                                                    count++;
                                                    if (count == 1)
                                                    {
                                                        <a href="@Url.Action("Details","Home",new { alias = item.Alias})">
                                                            @Html.ImageSlick(img.file_base6)
                                                        </a>

                                                    }
                                                }
                                            }
                                            <a class="sticker-new " href="@Url.Action("Details","Home",new { alias = item.Alias})"><span class="ti-heart"></span></a>
                                            <span class="sticker-sale">new</span>
                                        </div>
                                        <!-- Product Image End -->
                                        <!-- Product Content Start -->
                                        <div class="pro-content">
                                            <div class="pro-info">
                                                <h6 class="font-weight-bold" display="flex"><a href="@Url.Action("Details","Home", new { alias = item.Alias})">@Html.DisplayFor(modelItem => item.ProductName)</a></h6>
                                                <p>
                                                    <span class="special-price text-danger">
                                                        @if (item.DiscountedPrice > 10000)
                                                        {@Html.DisplayFor(modelItem => item.DiscountedPrice)}
                                                    else
                                                    {
                                                        @Html.DisplayName("Liên hệ");
                                                    }
                                                    </span>
                                                </p>
                                                <div class="product-rating">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <span class="quantity-pro">(200+)</span>
                                                </div>
                                            </div>
                                            @if (item.DiscountedPrice > 10000)
                                            {

                                                <div class="pro-add-cart">
                                                    @*<a href="cart.html" title="Add to Cart">Add To Cart</a>*@
                                                    <button type="submit" data-toggle="modal" data-target="#exampleModal" onclick="AddToCart(this);" itemid="@item.ProductID" class="pro-cart">Thêm vào giỏ</button>
                                                </div>

                                            }

                                        </div>
                                        <!-- Product Content End -->
                                    </div>
                                }
                                countProductBestSeal++;
                            }
                        }

                        <!-- Single Product End -->



                    </div>
                    <!-- Best Deal Product Activation End Here -->
                </div>
                <!-- #best-deal End Here -->
                @*<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                        Launch demo modal
                    </button>*@

                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-scrollable" role="document">
                        <div class="modal-body">
                            <div class="alert alert-success" role="alert">
                                <p class="text-center"><b>Thêm vào giỏ hàng thành công!</b></p>
                                <div class="modal-content"><button type="button" onclick="document.location.href='@Url.Action("Cart","Cart")'" class="btn btn-success ">Tiến hành thanh toán</button></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End Modal-->
                <!-- #new-pro Start Here -->
                <!-- #new-pro End Here -->
                <!-- #featured Start Here -->
                <!-- #featured End Here -->
            </div>
            <!-- Tab Content End -->
        </div>
        <!-- main-product-tab-area-->
    </div>
</div>
<!-- Featured Product End Here -->


<script type="text/javascript">
    //$("#myLink").click(function (e) {

    //    e.preventDefault();
    //    $.ajax({

    //        url: $(this).attr("href"), // comma here instead of semicolon
    //        success: function () {
    //            alert("Value Added");  // or any other indication if you want to show
    //        }

    //    });

    //});
    function AddToCart(item) {
        var itemid = $(item).attr("itemid");
        //alert(itemid);
        var formData = new FormData();
        formData.append("ProductID", itemid);

        $.ajax({
            async: false,
            type: "POST",
            contentType: false,
            processData: false,
            data: formData,
            url: '/Home/AddToCart',
            success: function (data) {
                if (data.success) {
                    //alert("Đã thêm vào giỏ hàng")
                    $("#exampleModal").show();
                    $("#cartItem").text("" + data.Counter + " sản phẩm ");

                    //$("dropdown cart-box-width active").show();
                }

            },
            error: function () {
                alert("There is some problem");
            }
        })
    }
</script>
