@model CameraShop.ViewModels.ProductListViewModel


@{
    ViewBag.Title = "Loại sản phẩm";
}
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @*  @Html.DisplayNameFor(model => model.CategoryName)*@
            </th>
            <th></th>
        </tr>
        @if (Model.MainCategories != null)
        {
            @foreach (var item in Model.MainCategories)
            {
                var listSubCates = Model.AllCategories.Where(p => p.CategoryParentID == item.CategoryID);
                if (listSubCates != null)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.CategoryName)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.CategoryID }) |
                            @Html.ActionLink("Details", "Details", new { id = item.CategoryID }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.CategoryID }) |
                            @{
                                if (item.CategoryParentID == null)
                                {
                                    @Html.ActionLink("Add Children", "Create", new { id = item.CategoryID })
                                }
                            }

                        </td>
                    </tr>
                }

            }
        }

    </table>
</body>
</html>
