@model PagedList.IPagedList<CameraShop.Models.Order>
@using PagedList.Mvc;
 <link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Danh sách đơn hàng";
}
<h4>Danh sách đơn hàng</h4>
<body>
    @using(Html.BeginForm("Index","Order",FormMethod.Get))
    {
    <p>
        Tìm kiếm đơn hàng <b>(email, tên khách hàng) </b>: @Html.TextBox("SearchString")
        <input type="submit" value="Tìm kiếm" />
    </p>
        
    }
    <table class="table table-hover ">
        <tr class="table-success">        
            <th>
                Ngày đặt hàng
            </th>
            
            <th>
               Tên khách hàng
            </th>
            <th>
                Số điện thoại
            </th>
            <th>
                Email
            </th>
            <th>
                Địa chỉ
            </th>
            <th>
                Ghi chú
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                
                <td>
                    @Html.DisplayFor(modelItem => item.OrderDate)
                </td>
                
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerPhone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerEmail)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerAddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderNote)
                </td>
                <td>
                 
                    @Html.ActionLink("Details", "Details", new { id = item.OrderID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.OrderID })
                </td>
            </tr>
        }

    </table>
    @Html.PagedListPager(Model, page => Url.Action("Index", "Order", new { page, searchString = ViewBag.SearchString}))
</body>

