@using CameraShop.HelperCode
<!DOCTYPE html>
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewBag.Title</title>


    @* @Styles.Render("~/Content/css")*@
    @Styles.Render("~/Content/clientcss")
    @Styles.Render("~/Content/clientStyleCss")

    <link href="~/Content/Client/css/responsive.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/Clients/vendor/modernizr-3.5.0.min.js"></script>
</head>

<body>
    <!-- Header Area Start Here -->
    <div class="wrapper">
        <!-- Newsletter Popup Start -->
        @*<div class="popup_wrapper">
                <div class="test">
                    <span class="popup_off">Close</span>
                    <div class="subscribe_area text-center mt-40">
                        <h2>Newsletter</h2>
                        <p>
                            Subscribe to the ponno mailing list to receive updates on new arrivals, special offers and other discount
                            information.
                        </p>
                        <div class="subscribe-form-group">
                            <form action="#">
                                <input autocomplete="off" type="text" name="message" id="message" placeholder="Enter your email address">
                                <button type="submit">subscribe</button>
                            </form>
                        </div>
                        <div class="subscribe-bottom mt-15">
                            <input type="checkbox" id="newsletter-permission">
                            <label for="newsletter-permission">Don't show this popup again</label>
                        </div>
                    </div>
                </div>
            </div>*@
        <!-- Newsletter Popup End -->
        <!-- Header Area Start Here -->
        <header class="header-area">
            <div class="d-flex flex-row-reverse ">
                <div class="p-2">
                    <span class="text-danger font-weight-bold">
                        Hỗ trợ: 0941667918
                    </span>                 
                </div>
            </div>
            <div class="header-top">
                <div class="container">
                    <div class="row align-items-center text-center text-md-left">
                        <!-- Logo Start -->
                        <div class="col-md-3 col order-1 order-md-1 mb-sm-30">
                            <div class="logo">
                                <a href="@Url.Action("Index","Home")"><img src="~/img/logo/logo.png" alt="logo-img"></a>
                            </div>
                        </div>
                        <!-- Logo End -->
                        <!-- Search Box Start Here -->
                        @Html.Partial("SearchBox")
                        <!-- Search Box End Here -->
                        <!--Cart Box Start Here-->
                        @Html.Partial("CartPartial")
                        <!-- Cart Box End Here -->
                    </div>
                </div>
            </div>
            <div class="header-bottom blue-bg header-sticky">
                <div class="container">
                    <div class="row align-items-center">
                        <!-- Menu Area Start Here -->
                        <div class="col-lg-10 d-none d-lg-block">
                            <nav>
                                <ul class="header-menu-list">
                                    <li class="active">
                                        <a href="@Url.Action("Index","Home")">home</a>
                                        <!-- Home Version Dropdown Start -->
                                        <!-- Home Version Dropdown End -->
                                    </li>
                                
                                    <li><a href="@Url.Action("Index","Category")">Camera quan sát</a></li>
                                    <li><a href="@Url.Action("Index","Category")">Ổ cứng lưu trữ camera</a></li>
                                    <li><a href="@Url.Action("Index","Category")">Linh phụ kiện camera</a></li>
                                    <li><a href="@Url.Action("About","InfoCompany")">Về chúng tôi</a></li>
                                    
                                </ul>
                            </nav>
                        </div>
                        <!-- Menu Area End Here -->
                        <!-- Cart Box Start Here -->
                        <div class="col-lg-2">
                            <div class="setting-box float-right">
                                <ul>
                                    <li class="drodown-show">
                                        <a href="#"><span class="ti-settings"></span></a>
                                        
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- Cart Box End Here -->
                    </div>
                    <!-- Row End -->
                    <!-- Mobile Menu Start Here -->
                    <div class="mobile-menu d-block d-lg-none" data-menu="Menu">
                        <nav>
                            <ul>
                                <li>
                                    <a href="@Url.Action("Index","Home")">home</a>
                                    <!-- Home Version Dropdown Start -->
                                    <!-- Home Version Dropdown End -->
                                </li>
                                <li><a href="@Url.Action("Index","Category")">Camera quan sát</a></li>
                              
                              
                               
                              
                                <li><a href="about.html">About Us</a></li>
                                <li><a href="contact.html">Contact Us</a></li>
                            </ul>
                        </nav>
                    </div>
                    <!-- Mobile Menu End Here -->
                </div>
                <!-- Container End -->
            </div>
        </header>

        <!-- Header Area End Here -->
        <!-- Header Area End Here -->
    </div>
    @RenderBody()
    <!-- Footer Area Start Here -->
    <footer class="footer-area black-bg pt-60">
        <div class="container">
           
            <div class="footer-middle ptb-60">

                <div class="row">
                    <!-- Single Footer Start -->
                    <div class="col-lg-3 col-md-6 mb-all-40">
                        <div class="single-footer">
                            <h4 class="footer-title e-header">Chính sách & Quy định</h4>
                            <div class="footer-content">
                                <ul class="footer-list quick-link">
                                    <li>
                                        <a href="#">Giới thiệu</a>
                                    </li>
                                    <li>
                                        <a href="#">Tiêu chí bán hàng</a>
                                    </li>
                                    <li>
                                        <a href="#">Liên hệ</a>
                                    </li>
                                   
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- Single Footer End -->
                    <!-- Single Footer Start -->
                    <div class="col-lg-3 col-md-6 mb-all-40">
                        <div class="single-footer">
                            <h4 class="footer-title e-header">Hỗ trợ khách hàng</h4>
                            <div class="footer-content">
                                <ul class="footer-list quick-link">
                                    <li>
                                        <a href="#">Hướng dẫn mua hàng</a>
                                    </li>
                                    <li>
                                        <a href="#">Hỗ trợ kỹ thuật</a>
                                    </li>
                                    
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- Single Footer End -->
                    <!-- Single Footer Start -->
                    <div class="col-lg-3 col-md-6 mb-all-40">
                        <div class="single-footer">
                            <h4 class="footer-title e-header">Công ty chúng tôi</h4>
                            <div class="footer-content">
                                <ul class="footer-list contact-info">
                                    <li class="location">
                                        <p>329, Cách mạng tháng 8,phường 11, quận 10, TPHCM</p>
                                     
                                    </li>
                                    <li class="mail">
                                        <p>caothinh@gmail.com</p>
                                        
                                    </li>
                                    <li class="phone">
                                        <p>0923456689</p>                                       
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- Single Footer End -->
                    <!-- Single Footer Start -->
                    <div class="col-lg-3 col-md-6">
                        <div class="single-footer">
                            <h4 class="footer-title e-header">Nhận tin tức mới nhất</h4>
                            <div class="footer-content">
                                <ul class="footer-list newsletter-text">
                                    <li>
                                        <p>
                                            Chúng tôi sẽ gửi cho bạn những cập nhật mới thông qua gmail dưới dây:
                                        </p>
                                    </li>
                                    <li class="footer-search mb-30">
                                       
                                            <input type="text" placeholder="Email" name="footer-mail" id="footer-mail">
                                            <button>
                                                <i class="zmdi zmdi-mail-send"></i>
                                            </button>
                                        
                                    </li>
                                    <li>
                                        <h5 class="e-header">Mạng xã hội</h5>
                                        <ul class="footer-social d-inline-flex mt-30">
                                            <li>
                                                <a href="#">
                                                    <i class="zmdi zmdi-facebook"></i>
                                                </a>
                                            </li>                                       
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- Single Footer End -->
                </div>
            </div>
        </div>
      
    </footer>
    <!-- Footer Area End Here -->
</body>
</html>
<script src="~/Scripts/Clients/vendor/jquery-3.3.1.min.js"></script>



@Scripts.Render("~/bundles/clientjquery")
@*@Scripts.Render("~/bundles/bootstrap")*@
@Scripts.Render("~/bundles/clientjs")
@*@Scripts.Render("~/bundles/clientModernizr")*@



@RenderSection("scripts", required: false)