@using CameraShop.HelperCode
 <!-- Cart Box Start Here -->
<div class="col-md-3 col order-2 order-md-3 mb-sm-30">
    <div class="cart-box float-md-right">
        <div class="drodown-show">
            @if (Session["cartCounter"] == null)
            {
            <a href="#">
                <span class="total-pro ">Xem chi tiết <br><span class="badge badge-danger" id="cartItem"> 0 sản phẩm </span> </span>
            </a>
            }
            else
            {
                <a href="#" >
                    <span class="total-pro ">Xem chi tiết <br><span class="badge badge-danger"  id="cartItem"> @Session["cartCounter"] sản phẩm </span> </span>
                </a>
            }

            <ul class="dropdown cart-box-width">
                @if (Session["cart"] != null)
                {
                    decimal totalPrice = 0;
                    foreach (var item in (List<Item>)Session["cart"])
                    {
                        int count = 0;

                        totalPrice += item.Product.DiscountedPrice;
                        <li>
                             @*Cart Box Start*@ 
                            <div class="single-cart-box">
                                <div class="cart-img">
                                    <a href="#">
                                        
                                        @foreach (var img in item.Product.FileImgs)
                                        {
                                            count++;
                                            if (count == 1)
                                            {
                                                @Html.Image(img.file_base6);
                                            }
                                        }
                                    </a>
                                    <span class="pro-quantity">@item.Quantity</span>
                                </div>
                                <div class="cart-content">
                                    <h6>
                                        <a href="product-details.html">@item.Product.ProductName </a>
                                    </h6>
                                    <span class="cart-price">@item.Product.DiscountedPrice.ToString("0#,0") đ</span>

                                </div>
                                <a class="del-icone" href="#">
                                    <span class="ti-close"></span>
                                </a>
                            </div>
                        </li>

                    }
                    //Cart Footer Inner Start
                    <div class="cart-footer">
                        <ul class="price-content">
                            <li>
                            Subtotal
                            <span>null</span>
                        </li>
                        <li>
                            Shipping
                            <span>$7.00</span>
                        </li>
                        <li>
                            Taxes
                            <span>$0.00</span>
                        </li>
                            <li>
                                Tạm tính
                                <span>@totalPrice.ToString("0#,0")đ</span>
                            </li>
                        </ul>
                        <div class="cart-actions text-center">
                            <a class="cart-checkout" href="checkout.html">Checkout</a>
                        </div>
                    </div>
                    //Cart Footer Inner End
                }


                @*<li>
                 Cart Box Start
                <div class="single-cart-box">
                    <div class="cart-img">
                        <a href="#">
                            <img src="~/img/products/p2.jpeg" alt="cart-image">
                        </a>
                        <span class="pro-quantity">1X</span>
                    </div>
                    <div class="cart-content">
                        <h6>
                            <a href="product-details.html">Printed Summer Red </a>
                        </h6>
                        <span class="cart-price">27.45</span>
                        <span>Size: S</span>
                        <span>Color: Yellow</span>
                    </div>
                    <a class="del-icone" href="#">
                        <span class="ti-close"></span>
                    </a>
                </div>
                 Cart Box End
                 Cart Box Start
                <div class="single-cart-box">
                    <div class="cart-img">
                        <a href="#">
                            <img src="~/img/products/p4.jpeg" alt="cart-image">
                        </a>
                        <span class="pro-quantity">1X</span>
                    </div>
                    <div class="cart-content">
                        <h6>
                            <a href="product-details.html">Printed Round Neck</a>
                        </h6>
                        <span class="cart-price">45.00</span>
                        <span>Size: XL</span>
                        <span>Color: Green</span>
                    </div>
                    <a class="del-icone" href="#">
                        <span class="ti-close"></span>
                    </a>
                </div>
                 Cart Box End
                 Cart Footer Inner Start
                <div class="cart-footer">
                    <ul class="price-content">
                        <li>
                            Subtotal
                            <span>$57.95</span>
                        </li>
                        <li>
                            Shipping
                            <span>$7.00</span>
                        </li>
                        <li>
                            Taxes
                            <span>$0.00</span>
                        </li>
                        <li>
                            Total
                            <span>$64.95</span>
                        </li>
                    </ul>
                    <div class="cart-actions text-center">
                        <a class="cart-checkout" href="checkout.html">Checkout</a>
                    </div>
                </div>*@
                 @*Cart Footer Inner End*@
            @*</li>*@
            </ul>
        </div>
    </div>
</div>
<!-- Cart Box End Here -->
