
@using CameraShop.HelperCode

@{
    int totalPriceCheckOut = 0;
}

@*Breadcrumb Area Start Here*@
<div class="breadcrumb-area">
    <div class="container">
        <ol class="breadcrumb breadcrumb-list">
            <li class="breadcrumb-item">
                <a href="@Url.Action("Index","Home")">Home</a>
            </li>
            <li class="breadcrumb-item active">Compare</li>
        </ol>
    </div>
</div>
<div class="coupon-area pt-30 pb-30">
    <div class="container">
        <div class="row">

        </div>
    </div>
</div>
<!-- Breadcrumb Area End Here -->
<!-- checkout-area start -->
<div class="checkout-area pb-80">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="checkbox-form mb-sm-40">
                    <h3>Chi tiết đơn hàng</h3>
                    @using (Html.BeginForm("ProcessOrder", "Cart", FormMethod.Post, new { id = "validate-form" }))
                    {
                        <div class="row">

                                <div class="col-md-12">
                                    <div class="checkout-form-list mb-10">
                                        <label id="cusName">Họ và tên <span class="required">*</span></label>
                                        <input type="text" name="cusName" placeholder="Vui lòng nhập họ tên">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="checkout-form-list mb-10">
                                        <label id="cusAddress">Địa chỉ <span class="required">*</span></label>
                                        <input type="text" name="cusAddress" placeholder="Nhập địa chỉ">
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="checkout-form-list mb-30">
                                        <label id="cusEmail">Địa chỉ email <span class="required">*</span></label>
                                        <input type="email" name="cusEmail">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="checkout-form-list mb-10">
                                        <label id="cusPhone">Số điện thoại <span class="required">*</span></label>
                                        <input type="text" name="cusPhone">
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="checkout-form-list mb-10">
                                        <label>Ghi chú<span class="required">*</span></label>
                                        <input type="text" name="cusNote" placeholder="Ghi chú(nếu có)">
                                    </div>
                                </div>

                                <div class="col-md-12" style="margin-top:100px;">
                                    <div class="checkout-form-list mb-10">
                                        <button type="submit" value="Process Order" class="btn btn-success btn-lg btn-block">Đặt hàng</button>
                                    </div>
                                </div>

                            </div>

                        @*<table>
                            <tr>
                                <td>Customer Name</td>
                                <td><input type="text" name="cusName" /></td>
                            </tr>
                            <tr>
                                <td>Customer Address</td>
                                <td><input type="text" name="cusAddress" /></td>
                            </tr>
                            <tr>
                                <td>Email</td>
                                <td><input type="text" name="cusEmail" /></td>
                            </tr>
                            <tr>
                                <td>Phone</td>
                                <td><input type="text" name="cusPhone" /></td>
                            </tr>
                            <tr>
                                <td>Note</td>
                                <td><input type="text" name="cusNote" /></td>
                            </tr>
                            <tr>
                                <td colspan="3"><input type="submit" value="Process Order" /></td>
                            </tr>

                        </table>*@
                    }
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="your-order">
                    <h3>Đơn hàng của bạn</h3>
                    <div class="your-order-table table-responsive">
                        <table>
                            <thead>
                                <tr>
                                    <th></th>
                                    <th class="product-name">Sản phẩm</th>
                                    <th class="product-total">Tổng</th>
                                </tr>
                            </thead>
                            @if (Session["cart"] != null)
                            {
                                foreach (var item in (List<Item>)Session["cart"])
                                {
                                    int countImg = 0;
                                    int totalPrice;
                                    <tr class="cart_item">
                                        @foreach (var img in item.Product.FileImgs)
                                        {
                                            countImg++;
                                            if (countImg == 1)
                                            {
                                                <td class="product-thumbnail">
                                                    @Html.Image(img.file_base6)
                                                </td>
                                            }
                                        }
                                        <td class="product-name">
                                            @item.Product.ProductName <span class="product-quantity"> × <b>@item.Quantity</b></span>
                                        </td>
                                        @{ totalPrice = item.Quantity * (int)item.Product.DiscountedPrice;}
                                        <td class="product-total">
                                            <span class="amount ">@totalPrice.ToString("0#,0")đ</span>
                                        </td>
                                        @{ totalPriceCheckOut += totalPrice; }
                                    </tr>

                                }

                            }
                            <tr class="order-total">
                                <th>Tổng tiền</th>
                                <td>
                                    <span class=" total amount text-danger">@totalPriceCheckOut.ToString("0#,0")đ</span>
                                </td>
                            </tr>


                        </table>
                    </div>
                    <div class="payment-method">
                        <div id="accordion">

                            <div class="card">
                                <div class="card-header" id="headingtwo">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                            Có vấn đề thắc mắc?
                                        </button>
                                    </h5>
                                </div>
                                <div id="collapseTwo" class="collapse" aria-labelledby="headingtwo" data-parent="#accordion">
                                    <div class="card-body">
                                        <p>Vui lòng liên hệ số điện thoại: <b class="text-danger">123</b></p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="coupon-area pt-30 pb-30">
                <div class="container">
                    <div class="row">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- checkout-area end -->
    <!-- Footer Area Start Here -->
    <!-- Footer Area Start Here -->
    <footer class="footer-area black-bg pt-60">
        <div class="container">
            <div class="footer-top">
                <div class="footer-logo text-center">
                    <a href="index.html">
                        <img src="img\logo\logo2.png" alt="footer-logo">
                    </a>
                    <p>
                        Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical
                        Latin literature.
                    </p>
                </div>
                <!-- Support Area Start Here -->
                <div class="support-area d-flex flex-wrap justify-content-between">
                    <!-- Single Support Area Start Here -->
                    <div class="single-support mb-all-40">
                        <div class="support-icon">
                            <img src="img\support\s1.png" alt="support-icon">
                        </div>
                        <div class="support-desc">
                            <h6>Free Shipping</h6>
                            <p>
                                Most product are free
                                <br> shipping.
                            </p>
                        </div>
                    </div>
                    <!-- Single Support Area End Here -->
                    <!-- Single Support Area Start Here -->
                    <div class="single-support mb-all-40">
                        <div class="support-icon">
                            <img src="img\support\s2.png" alt="support-icon">
                        </div>
                        <div class="support-desc">
                            <h6>Customer Support</h6>
                            <p>24x7 Customer Support</p>
                        </div>
                    </div>
                    <!-- Single Support Area End Here -->
                    <!-- Single Support Area Start Here -->
                    <div class="single-support">
                        <div class="support-icon">
                            <img src="img\support\s3.png" alt="support-icon">
                        </div>
                        <div class="support-desc">
                            <h6>Secure Payment</h6>
                            <p>
                                Most Secure Payment
                                <br> for customer.
                            </p>
                        </div>
                    </div>
                    <!-- Single Support Area End Here -->
                </div>
                <!-- Support Area End Here -->
            </div>
            <div class="footer-middle ptb-60">
                <div class="row">
                    <!-- Single Footer Start -->
                    <div class="col-lg-4 col-md-6 mb-all-40">
                        <div class="single-footer">
                            <h4 class="footer-title e-header">Recent Post</h4>
                            <div class="footer-content all-recent-post">
                                <ul class="footer-list recent-post">
                                    <li class="single-recent-post">
                                        <div class="recent-img">
                                            <a href="#">
                                                <img src="img\products\p2.jpeg" alt="blog-img">
                                            </a>
                                        </div>
                                        <div class="recent-desc">
                                            <h6>
                                                <a href="#">Majority have suffered alteration</a>
                                            </h6>
                                            <span>27 July, 2018</span>
                                        </div>
                                    </li>
                                    <li class="single-recent-post">
                                        <div class="recent-img">
                                            <a href="#">
                                                <img src="img\products\p5.jpeg" alt="blog-img">
                                            </a>
                                        </div>
                                        <div class="recent-desc">
                                            <h6>
                                                <a href="#">Majority have suffered alteration</a>
                                            </h6>
                                            <span>15 Aug, 2018</span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- Single Footer End -->
                    <!-- Single Footer Start -->
                    <div class="col-lg-2 col-md-6 mb-all-40">
                        <div class="single-footer">
                            <h4 class="footer-title e-header">quick link</h4>
                            <div class="footer-content">
                                <ul class="footer-list quick-link">
                                    <li>
                                        <a href="cart.html">cart</a>
                                    </li>
                                    <li>
                                        <a href="checkout.html">checkout</a>
                                    </li>
                                    <li>
                                        <a href="login.html">login</a>
                                    </li>
                                    <li>
                                        <a href="register.html">register</a>
                                    </li>
                                    <li>
                                        <a href="#">tracking</a>
                                    </li>
                                    <li>
                                        <a href="#">product</a>
                                    </li>
                                    <li>
                                        <a href="blog.html">blog</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- Single Footer End -->
                    <!-- Single Footer Start -->
                    <div class="col-lg-3 col-md-6 mb-sm-40">
                        <div class="single-footer">
                            <h4 class="footer-title e-header">contact info</h4>
                            <div class="footer-content">
                                <ul class="footer-list contact-info">
                                    <li class="location">
                                        <p>lorem address south road</p>
                                        <p>77 north, USA -9991</p>
                                    </li>
                                    <li class="mail">
                                        <p>domaininfo@mail.com</p>
                                        <p>company@mail.com</p>
                                    </li>
                                    <li class="phone">
                                        <p>+ 755 2236 6698 22</p>
                                        <p>+ 556 6666 6589 22</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- Single Footer End -->
                    <!-- Single Footer Start -->
                    <div class="col-lg-3 col-md-6">
                        <div class="single-footer">
                            <h4 class="footer-title e-header">newsletter</h4>
                            <div class="footer-content">
                                <ul class="footer-list newsletter-text">
                                    <li>
                                        <p>
                                            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                                            laudantium.
                                        </p>
                                    </li>
                                    <li class="footer-search mb-30">
                                        <form action="#">
                                            <input type="text" placeholder="Email" name="footer-mail" id="footer-mail">
                                            <button>
                                                <i class="zmdi zmdi-mail-send"></i>
                                            </button>
                                        </form>
                                    </li>
                                    <li>
                                        <h5 class="e-header">Social Icon</h5>
                                        <ul class="footer-social d-inline-flex mt-30">
                                            <li>
                                                <a href="#">
                                                    <i class="zmdi zmdi-twitter"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="zmdi zmdi-vimeo"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="zmdi zmdi-pinterest"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="zmdi zmdi-dribbble"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- Single Footer End -->
                </div>
            </div>
        </div>
        <div class="footer-bottom text-center ptb-15 off-black-bg">
            <p class="copyright">Copyright © <a href="#">Ponno</a> All right reserved</p>
        </div>
    </footer>
    <!-- Footer Area End Here -->
</div>


<script type="text/javascript">

    //$("#validate-form").validate({
    //    rules: {
    //        cusName: {
    //            required: true
    //        },
    //        cusAddress: {
    //            required: true
    //        },
    //        cusEmail: {
    //            required: true
    //        },
    //        cusPhone: {
    //            required: true
    //        },
    //        cusNote: {
    //            required: true
    //        }
    //    }
    //});
    function validateForm() {
        if ($('#validate-form').val() == '') {
            alert('as');
            return false;
        }

        else {
            form1.submit();
        }

</script>
