
@using CameraShop.HelperCode


@{ 
    ViewBag.Title = "Thanh toán";
}
@{
    int totalPriceCheckOut = 0;
}

@*Breadcrumb Area Start Here*@
    <div class="breadcrumb-area">
        <div class="container">
            <ol class="breadcrumb breadcrumb-list">
                
                @if (ViewContext.RouteData.Values["controller"].ToString() != "Cart1")
                {
                    <li class="breadcrumb-item">
                        @Html.ActionLink(ViewContext.RouteData.Values["controller"].ToString(), "Cart", ViewContext.RouteData.Values["controller"].ToString())
                    </li>

                }
                @if (ViewContext.RouteData.Values["action"].ToString() != "Cart")
                {
                    <li class="breadcrumb-item">
                        @Html.ActionLink(ViewContext.RouteData.Values["action"].ToString(), ViewContext.RouteData.Values["action"].ToString(), ViewContext.RouteData.Values["controller"].ToString())
                    </li>
                }



            </ol>
        </div>
    </div>
<div class="coupon-area pt-30 pb-30">
    <div class="container">
        <div class="row">

        </div>
    </div>
</div>
<!-- Breadcrumb Area End Here -->
<!-- checkout-area start -->
<div class="checkout-area pb-80">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                @if (Session["cart"] != null)
                {
                    <div class="checkbox-form mb-sm-40">
                        <h3>Chi tiết đơn hàng</h3>
                        @using (Html.BeginForm("ProcessOrder", "Cart", FormMethod.Post, new { id = "validate-form" }))
                        {
                            <div class="row">

                                <div class="col-md-12">
                                    <div class="checkout-form-list mb-10">
                                        <label id="cusName">Họ và tên <span class="required">*</span></label>
                                        <input type="text" name="cusName" placeholder="Nhập họ tên">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="checkout-form-list mb-10">
                                        <label id="cusAddress">Địa chỉ <span class="required">*</span></label>
                                        <input type="text" name="cusAddress" placeholder="Nhập địa chỉ">
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="checkout-form-list mb-30">
                                        <label id="cusEmail">Địa chỉ email <span class="required">*</span></label>
                                        <input type="email" name="cusEmail">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="checkout-form-list mb-10">
                                        <label id="cusPhone">Số điện thoại <span class="required">*</span></label>
                                        <input type="text" name="cusPhone">
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="checkout-form-list mb-10">
                                        <label>Ghi chú</label>
                                        <input type="text" name="cusNote" placeholder="Ghi chú(nếu có)">
                                    </div>
                                </div>

                                <div class="col-md-6" >
                                    <div class="checkout-form-list mb-10">
                                        <button type="submit" value="Process Order" class="btn btn-success btn-lg btn-block">Đặt hàng</button>
                                    </div>
                                </div>

                            </div>

                         
                        }
                    </div>
                }
                else
                {
                    <h4 class="text-danger">Không thể thanh toán khi giỏ hàng trống</h4>
                }
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="your-order">
                    <h3>Đơn hàng của bạn</h3>
                    <div class="your-order-table table-responsive">
                        @if (Session["cart"] != null)
                        {
                            <table>
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th class="product-name">Sản phẩm</th>
                                        <th class="product-total">Tổng</th>
                                    </tr>
                                </thead>

                                @foreach (var item in (List<Item>)Session["cart"])
                                {
                                    int countImg = 0;
                                    int totalPrice;
                                    <tr class="cart_item">
                                        @foreach (var img in item.Product.FileImgs)
                                        {
                                            countImg++;
                                            if (countImg == 1)
                                            {
                                                <td class="product-thumbnail">
                                                    @Html.Image(img.file_base6)
                                                </td>
                                            }
                                        }
                                        <td class="product-name">
                                            @item.Product.ProductName <span class="product-quantity"> × <b>@item.Quantity</b></span>
                                        </td>
                                        @{ totalPrice = item.Quantity * (int)item.Product.DiscountedPrice;}
                                        <td class="product-total">
                                            <span class="amount ">@totalPrice.ToString("0#,0")đ</span>
                                        </td>
                                        @{ totalPriceCheckOut += totalPrice; }
                                    </tr>
                                }
                                <tr class="order-total">
                                    <th>Tổng tiền</th>
                                    <td>
                                        <span class=" total amount text-danger">@totalPriceCheckOut.ToString("0#,0")đ</span>
                                    </td>
                                </tr>
                            </table>
                        }
                    </div>
                    <div class="payment-method">
                        <div id="accordion">

                            <div class="card">
                                <div class="card-header" id="headingtwo">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                            Có vấn đề thắc mắc?
                                        </button>
                                    </h5>
                                </div>
                                <div id="collapseTwo" class="collapse" aria-labelledby="headingtwo" data-parent="#accordion">
                                    <div class="card-body">
                                        <p>Vui lòng liên hệ số điện thoại: <b class="text-danger">123</b></p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="coupon-area pt-30 pb-30">
                <div class="container">
                    <div class="row">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- checkout-area end -->


</div>


<script type="text/javascript">

    $("#validate-form").validate({
        rules: {
            cusName: {
                required: true,
                maxlength: 20,
                minlength: 2
            },
            cusAddress: {
                required: true,
                maxlength: 50,
                minlength: 2
            },
            cusEmail: {
                required: true,
                email: true
            },
            cusPhone: {
                required: true,
               
                maxlength: 14,
                minlength: 7
            },
            cusNote: {
                
            }
        },
        messages: {
            cusName: {
                required: "* Vui lòng nhập họ tên",
                maxlength: "* Tên quá dài",
                minlength: "* Tên quá ngắn"
            },
            cusAddress: {
                required: "* Vui lòng nhập địa chỉ",
                maxlength: "* Vui lòng nhập đúng địa chỉ (Địa chỉ quá dài)",
                minlength: "* Vui lòng nhập đúng địa chỉ (Địa chỉ quá ngắn)"
            },
            cusName: {
                required: "* Vui lòng nhập họ tên",
                maxlength: "* Tên quá dài",
                minlength: "* Tên quá ngắn"
            },
            cusPhone: {
                required: "* Vui lòng nhập số điện thoại",
                maxlength: " *SĐT không đúng định dạng",
                minlength: " *SĐT không đúng định dạng"
            },
            cusEmail: {
                required: "* Vui lòng nhập địa chỉ email",
                email: "* Vui lòng nhập đúng định dạng "
            },
        }
    });
  
</script>
